@@include('./includes/header.html')

<div class="nav-bar">
    <nav class="nav-bar-stick">
        <div class="nav-bar-section container">
            <a href="/" class="logo">
                <img src="img/logo.svg" class="logo-icon" alt="Apple AirPods">
                <span class="logo-name">AirPods</span>
                <span class="logo-discount">Discount</span>
                <span class="logo-signature">Распродажа AirPods 2</span>
            </a>
            <ul class="menu">
                <li class="menu-item"><a href="#" class="menu-link active">Характеристики</a></li>
                <li class="menu-item"><a href="#" class="menu-link">Обзор</a></li>
                <li class="menu-item"><a href="#" class="menu-link">Отзывы</a></li>
                <li class="menu-item"><a href="#" class="menu-link">Доставка</a></li>
            </ul>
            <div class="phone-call">
                <a href="tel:84953088322" rel="nofollow" class="phone-call-box">
                    <svg class="phone-call-box__icon">
                        <use xlink:href="img/icons.svg#phone"></use>
                    </svg>
                    +7 (495) 123-00-99
                </a>
                <div class="phone-call-text">Звонок по России бесплатный</div>
            </div>
            <div class="call-back">Перезвоните мне</div>
        </div>
    </nav>
</div>


<header class="header">
    <div class="header__inner container">
        <div class="header-content">
            <h1 class="header-title">
                <span class="header-title__text">Закажите себе наушники</span>
                Apple AirPods 2
            </h1>
            <div class="header-pre-title">по выгодной цене</div>
            <div class="header-price__old">Обычная цена: <del class="header-price__old-strikeout">14 990 руб.</del></div>
            <div class="header-price__new">
                <div class="header-price__new-discount">Со скидкой:</div>
                <div class="header-price__new-cost">3 990 руб.</div>
            </div>
            <button class="btn-primary btn">Заказать со скидкой</button>
        </div>
    </div>
</header>


<!--


        <div class="header-logo logo">
        </div>
        <div class="header-mob">
            <div class="header-mob__head">ремонт КВАРТИР</div>
            <div class="header-mob__text">в Москве и подмосковье</div>
        </div>
        <div class="header-info">
            <div class="header-support__left">
                <a href="https://api.whatsapp.com/send?phone=79687409646" target="_blank" rel="nofollow"
                   class="header-support__item btn-whats-app">
                    <svg class="btn-whats-app__icon">
                        <use xlink:href="img/icons.svg#whatsapp"></use>
                    </svg>
                    <span>whatsApp</span>
                </a>
                <a href="https://vk.com/alex_lenk" target="_blank" rel="nofollow" class="header-support__item btn-vk">
                    <svg class="btn-vk__icon">
                        <use xlink:href="img/icons.svg#vk"></use>
                    </svg>
                </a>
                <a href="#" class="header-support__write-us">Напишите нам</a>
            </div>

            <button type="button" class="menu-toggle">Меню</button>

            <div class="header-support__right">
                <a href="tel:84953088322" rel="nofollow" class="header-phone phone-block">
                    <svg class="phone-block-icon">
                        <use xlink:href="img/icons.svg#phone"></use>
                    </svg>
                    8 (495) 308-83-22
                </a>
                <button type="button" class="header-request btn-outline btn">Заказать обратный звонок</button>
            </div>
        </div>
-->

@@7 include('./includes/footer.html')