<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Ремонт квартир в Москве и Подмосковье</title>

    <link rel="stylesheet" href="css/styles.min.css?ver=1.2">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png?v=NmbNwk2o4n">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v=NmbNwk2o4n">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v=NmbNwk2o4n">
    <link rel="manifest" href="/favicon/site.webmanifest?v=NmbNwk2o4n">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg?v=NmbNwk2o4n" color="#ed1c25">
    <link rel="shortcut icon" href="/favicon/favicon.ico?v=NmbNwk2o4n">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml?v=NmbNwk2o4n">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<header class="header container">
    <h2 class="header-title title-block title-block-blue hide-xs">
        <span class="text-extra-bold">Ремонт квартир</span> в новостройке от
        <span class="header-title__price"><span class="header-title__price-val">149 000 руб!</span></span>
    </h2>
    <h2 class="header-title title-block title-block-blue show-xs">
        <span class="text-extra-bold">Ремонт новостройки</span><br> от
        <span class="header-title__price"><span class="header-title__price-val">149 000 руб</span></span>
    </h2>

    <div class="header-text">
        При заказе с ВКонтакте  до конца недели <span class="text-bold">скидка&nbsp;10%!</span>
    </div>

    <h3>Частная бригада мастеров:</h3>

    <ul class="header-list check-list hide-xs">
        <li class="check-list__item">
            Профессионально занимаемся ремонтом <span class="text-bold">более 15 лет!</span>
        </li>
        <li class="check-list__item">
            Мы не завышаем цены потому что <span class="text-bold">работаем без посредников!</span>
        </li>
        <li class="check-list__item">
            Сделаем <span class="text-bold">недорого</span> и четко в сроки!
        </li>
        <li class="check-list__item">
            Отсутствие рисков — <span class="text-bold">оплата по факту</span> выполненных работ.
        </li>
        <li class="check-list__item">
            Стоимость работ <span class="text-bold">фиксирована</span> и не меняется в процессе ремонта.
        </li>
        <li class="check-list__item">
            Выполняем работу <span class="text-bold">точно в сроки,</span> производим любые объемы.
        </li>
    </ul>

    <ul class="header-list check-list show-xs">
        <li class="check-list__item">
            Занимаемся ремонтом <br>
            <span class="text-bold">более 15 лет!</span>
        </li>
        <li class="check-list__item">
            Работаем <br><span class="text-bold">без посредников!</span>
        </li>
        <li class="check-list__item">
            Сделаем <span class="text-bold">недорого<br>
            и четко в сроки!</span>
        </li>
        <li class="check-list__item">
            <span class="text-bold">оплата по факту</span><br>
            выполненных<br>
            работ.
        </li>
        <li class="check-list__item">
            Стоимость работ <br>
            <span class="text-bold">фиксирована</span>
        </li>
    </ul>
</header>

<section class="section-cost container">
    <h2 class="section-cost-title title-block title-block-yellow">
        СТОИМОСТЬ РЕМОНТА КВАРТИРЫ <span class="section-cost-title__key title-block-bold">ПОД&nbspКЛЮЧ</span>
    </h2>

    <ul class="section-cost-list list-unstyled">
        <li class="section-cost-item">
            <div class="section-cost-media">
                <img class="img__data-path section-cost-media__image" data-path="img/room/01.jpg" alt="">
            </div>
            <div class="section-cost-type">
                <div class="section-cost-type__text">Квартира-студия</div>
            </div>
            <div class="section-cost-price">
                <div class="section-cost-price__decor">
                    <svg class="section-cost-price__decor--icon">
                        <use xlink:href="img/icons.svg#label"></use>
                    </svg>
                </div>
                150 000 – 200 000 р.
            </div>
        </li>
        <li class="section-cost-item">
            <div class="section-cost-media">
                <img class="img__data-path section-cost-media__image" data-path="img/room/02.jpg" alt="">
            </div>
            <div class="section-cost-type">
                <div class="section-cost-type__text">1-комнатная квартира</div>
            </div>
            <div class="section-cost-price">
                <div class="section-cost-price__decor">
                    <svg class="section-cost-price__decor--icon">
                        <use xlink:href="img/icons.svg#label"></use>
                    </svg>
                </div>
                200 000 – 250 000 р.
            </div>
        </li>
        <li class="section-cost-item">
            <div class="section-cost-media">
                <img class="img__data-path section-cost-media__image" data-path="img/room/03.jpg" alt="">
            </div>
            <div class="section-cost-type">
                <div class="section-cost-type__text">2-х комнатная квартира</div>
            </div>
            <div class="section-cost-price">
                <div class="section-cost-price__decor">
                    <svg class="section-cost-price__decor--icon">
                        <use xlink:href="img/icons.svg#label"></use>
                    </svg>
                </div>
                300 000 – 350 000 р.
            </div>
        </li>
        <li class="section-cost-item">
            <div class="section-cost-media">
                <img class="img__data-path section-cost-media__image" data-path="img/room/04.jpg" alt="">
            </div>
            <div class="section-cost-type">
                <div class="section-cost-type__text">3-х комнатная квартира</div>
            </div>
            <div class="section-cost-price">
                <div class="section-cost-price__decor">
                    <svg class="section-cost-price__decor--icon">
                        <use xlink:href="img/icons.svg#label"></use>
                    </svg>
                </div>
                350 000 – 450 000 р.
            </div>
        </li>
    </ul>
</section>

<section class="warranty container">
    <h2 class="warranty-title title-block">
        Вы контролируете все этапы ремонта,
        <span class="warranty-title__bold">мы гарантируем качество</span>
    </h2>

    <ol class="warranty-list">
        <li class="warranty-list__item">
            <span class="warranty-list__num">01</span>
            <span class="warranty-list__text">
                Мы создаем с вами общий чат в мессенджере <br class="hide-xs"> (WhatsApp&nbsp;/&nbsp;Telegram)
            </span>
        </li>
        <li class="warranty-list__item">
            <span class="warranty-list__num">02</span>
            <span class="warranty-list__text">
                С вами в чате все участники работ.
            </span>
        </li>
        <li class="warranty-list__item">
            <span class="warranty-list__num">03</span>
            <span class="warranty-list__text">
                В&nbsp;чат мы&nbsp;отправляем вам фотоотчеты, акты, планы, чтобы все <br class="hide-xs">
                было в&nbsp;одном месте!
            </span>
        </li>
    </ol>

    <div class="warranty-bottom">
        <div class="warranty-text">
            ПОЗВОНИТЕ НАМ — ОТВЕТИМ <br class="show-xs"> НА ВСЕ ВАШИ ВОПРОСЫ!
        </div>
        <a href="tel:89032237447" rel="nofollow" class="warranty-phone">8 (903) 223-74-47</a>
    </div>
</section>

<section class="get-estimate container">
    <div class="get-estimate-wrap">
        <form action="/" class="get-estimate-form call-form">
            <input type="hidden" name="formname" value="Заказ звонка">

            <h2 class="call-form__title">
                Получите <br class="show-xs"> рассчет сметы
            </h2>
            <div class="call-form__text">
                с&nbsp;учетом стоимости работ <br> и&nbsp;материалов через <span class="text-bold">30</span>&nbsp;минут
            </div>

            <div class="form-group call-form__group">
                <label class="sr-only" for="call-form__name2">Ваше имя</label>
                <svg class="call-form__icon">
                    <use xlink:href="img/icons.svg#user"></use>
                </svg>
                <input type="text" name="user_name" class="call-form__field form-control hide-placeholder" id="call-form__name2" placeholder="Ваше имя" required>
            </div>

            <div class="form-group call-form__group">
                <label class="sr-only" for="call-form__tel2">Контактный телефон*</label>
                <svg class="call-form__icon">
                    <use xlink:href="img/icons.svg#phone"></use>
                </svg>
                <input type="tel" name="user_phone" class="call-form__field form-control hide-placeholder phone js-phoneMask" id="call-form__tel2" placeholder="Контактный телефон*" required>
            </div>

            <button type="submit" class="call-form__btn btn btn-yellow">Получить расчет сметы</button>

            <div class="call-form__terms">
                Нажимая кнопку, вы даете согласие на обработку<br>
                персональных данных
            </div>
        </form>
    </div>
</section>

<!-- BEGIN: finalModal -->
<div class="modal-view__wrapper">
    <div class="modal-thanks">
        <div class="modal-view-final">
            <svg class="modal-view-final__icon">
                <use xlink:href="/img/icons.svg#check"></use>
            </svg>
            <div class="modal-view-final__title">Спасибо,</div>
            <div class="modal-view-final__subtitle">ваша заявка принята!</div>

            <div class="modal-view-close"></div>
        </div>
    </div>
</div>
<!-- END: finalModal -->

<script src="js/browser.min.js"></script>
<script src="js/scripts.min.js?ver=1.0"></script>
</body>
</html>
