@@include('./includes/header.html')

<div class="nav-bar">
    <div class="nav-bar-stick">
        <div class="nav-bar-section container">
            <a href="/" class="logo">
                <svg class="logo-icon">
                    <use xlink:href="img/icons.svg#logo"></use>
                </svg>
                <span class="logo-name">AirPods</span>
                <span class="logo-discount">Discount</span>
                <span class="logo-signature">Распродажа AirPods<span> 2</span></span>
            </a>
            <nav class="menu">
                <ul class="menu-list">
                    <li class="menu-item"><a href="#advantages" class="menu-link active">Характеристики</a></li>
                    <li class="menu-item"><a href="#" class="menu-link">Обзор</a></li>
                    <li class="menu-item"><a href="#review" class="menu-link">Отзывы</a></li>
                    <li class="menu-item"><a href="#delivery" class="menu-link">Доставка</a></li>
                </ul>
            </nav>
            <button type="button" class="menu-toggle"></button>
            <div class="phone-call">
                <a href="tel:84953088322" rel="nofollow" class="phone-call-box">
                    <svg class="phone-call-box__icon">
                        <use xlink:href="img/icons.svg#phone"></use>
                    </svg>
                    +7 (495) 123-00-99
                </a>
                <div class="phone-call-text">Звонок по России бесплатный</div>
            </div>
            <div class="call-back">Перезвоните мне</div>
        </div>
    </div>
</div>


<header class="header">
    <div class="header__inner container">
        <div class="header-content">
            <h1 class="header-title">
                <span class="header-title__text">Закажите себе наушники</span>
                Apple AirPods 2
            </h1>
            <div class="header-pre-title">по выгодной цене</div>
            <div class="header-price__old">Обычная цена: <del class="header-price__old-strikeout">14 990 руб.</del></div>
            <div class="header-price__new">
                <div class="header-price__new-discount">Со скидкой:</div>
                <div class="header-price__new-cost">3 990 руб.</div>
            </div>
            <button class="main-btn btn-primary btn">Заказать со скидкой</button>
        </div>
        <div class="header-call">Заказать со скидкой</div>
    </div>
</header>

<!--
@@ 7include 7('./includes/other.html')
-->

@@include('./includes/footer.html')