@import "general/mixin";
@import "general/settings";
@import "lib/bootstrap-4.4.1/mixins/clearfix";
@import "general/common";
@import "general/btn";
@import "components/nav-bar";
@import "components/header";
@import "components/presentation";
@import "components/advantages";
@import "components/complete";
@import "components/appeal";
@import "components/gift";
@import "components/small-advantage";
@import "components/reviews";
@import "components/choose";
@import "components/autonomy";
@import "components/synchronization";
@import "components/attention";
@import "components/step";
@import "components/payment-after";
@import "components/trust-us";
@import "components/delivery";
@import "components/questions";
@import "components/pre-footer";
@import "components/footer";
@import "components/menu-mob";
@import "components/modal-view";
@import "general/sprite";
@import "components/scrollToTop";
@import "components/call-form";

@media (min-width: 767px) {
  .fancybox-navigation .fancybox-button {
    height: 150px;
    width: 105px;
  }
}



.privacy-policy {
  text-align: left;
  overflow-y: scroll
}

@media (max-width: 575px) {
  .privacy-policy {
    max-height: 450px;
    font-size: 13px;

    h3 {
      font-size: 18px;
    }
  }

  .hide-xs {
    display: none;
  }
}

@media (min-width: 576px) {
  .privacy-policy {
    max-height: 546px;
  }
  .show-xs {
    display: none;
  }
}
