.about-us {
  padding-bottom: 0;
}

.about-us-title {
  margin-bottom: 35px;
}

.about-us-wrap {
  margin-bottom: 40px;
  position: relative;

  &::after {
    width: 299px;
    height: 599px;
    bottom: -128px;
    left: 392px;
    z-index: 2;
    position: absolute;
    background: url(../img/decor/prorab.png) no-repeat center bottom;
    background-size: contain;
    content: '';
  }
}

.about-us-content {
  font-weight: 300;
  line-height: 1.4;
  border: 5px solid #edeeee;
}

.about-us-director__sign {
  width: 121px;
  margin-left: 19px;
}

.about-us-director__name {
  padding-top: 5px;
  font-weight: 500;
  font-family: $font-family-head;
}

.about-us-director__post {
  text-transform: uppercase;
}

.about-us-certificate {
  padding-top: 8%;
  padding-right: 15%;
  font-size: 10px;
  font-weight: 300;
  position: relative;
  text-align: center;

  &::after {
    width: 202px;
    height: 271px;
    top: 57px;
    right: 47px;
    z-index: -1;
    position: absolute;
    background: url(../img/decor/simbol.png) no-repeat center;
    background-size: contain;
    content: '';
  }
}

.about-us-certificate__media {
  width: 155px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: opacity .3s;

  &:hover {
    opacity: .9;
  }
}

.about-us-quote {
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 11px 10px 12px 15px;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid $yellowColor;
  background-color: #fff;
  font-family: $font-family-head;
  position: relative;
  z-index: 5;

  &::before {
    width: 32px;
    height: 28px;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    top: -2px;
    left: -2px;
    background: url(../img/decor/quotation.svg) no-repeat right bottom #fff;
    background-size: contain;
    position: absolute;
    content: '';
  }
}

@media (min-width: 768px) {
  .about-us-wrap {
    display: flex;
  }
  .about-us-content {
    max-width: 36%;
    padding: 19px 22px 0;
    margin-right: auto;
    font-size: 14px;
    border-width: 10px;
    position: relative;

    &::after {
      width: 38px;
      height: 63px;
      border-right: 10px solid #edeeee;
      border-bottom: 10px solid #edeeee;
      top: 15%;
      right: -27px;
      background-color: #fff;
      transform: rotate(-23deg) skew(10deg, 15deg);
      position: absolute;
      content: '';
    }
  }

  .about-us-director {
    border-top: 1px solid #dcdcdc;
    display: flex;
  }

  .about-us-director__name {
    font-size: 21px;
  }

  .about-us-director__post {
    font-size: 12px;
    font-weight: 300;
  }
}

@media (max-width: 767px) {
  .about-us-content {
    padding: 12px 10px 0 18px;
    font-size: 13px;
  }
  .about-us-director__name {
    font-size: 16px;
  }
  .about-us-director__post {
    font-size: 10px;
  }
}
