.call-form {
  max-width: 485px;
  width: 100%;
  padding: 32px 20px 15px;
  background-color: #fff;
}

.call-form__title {
  margin-bottom: 28px;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.call-form__btn {
  margin-bottom: 20px;
}

.call-form__terms {
  font-size: 13px;
  text-align: center;
  line-height: 1.2;
}
