.call-technologist {
  overflow: hidden;
  background: #f7d49a;
  background: -moz-linear-gradient(left, #f7d49a 0%, #f9e4b9 50%, #f7d49a 100%);
  background: -webkit-linear-gradient(left, #f7d49a 0%, #f9e4b9 50%, #f7d49a 100%);
  background: linear-gradient(to right, #f7d49a 0%, #f9e4b9 50%, #f7d49a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7d49a', endColorstr='#f7d49a', GradientType=1);

}

.call-technologist-text {
  line-height: 1.25;
}

.call-technologist-form {
  margin-right: 25px;
}

.call-technologist-content__title {
  margin-bottom: 12px;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.call-technologist-list {
  max-width: 67%;
  font-size: 15px;
}

@media (min-width: 576px) {
  .call-technologist {
    padding-top: 50px;
    padding-bottom: 45px;
  }
  .call-technologist-title {
    margin-bottom: 40px;
  }
  .call-technologist-text {
    margin-bottom: 33px;
    font-size: 18px;
  }
}

@media (min-width: 767px) {
  .call-technologist-container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
  }
  .call-technologist-title {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .call-technologist {
    position: relative;

    &::after {
      width: 26%;
      height: 76%;
      bottom: 0;
      left: 60%;
      position: absolute;
      background: url(../img/decor/guy.png) no-repeat right bottom;
      background-size: contain;
      content: '';
    }
  }

  .call-technologist-content {
    max-width: 42%;
  }
}

@media (max-width: 766px) {
  .call-technologist {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .call-technologist-form {
    max-width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .call-technologist-title {
    font-size: 26px;
  }
  .call-technologist-text {
    margin-bottom: 30px;
    font-size: 20px;
  }
}
