.footer {
  padding-top: 26px;
  color: #fff;
}

.footer-column {
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

.footer-column__title {
  padding-bottom: 15px;
  margin-bottom: 13px;
  text-transform: uppercase;
  line-height: 1;
  position: relative;
  font-size: 20px;
  font-weight: 700;
  font-family: $font-family-head;

  &:after {
    width: 107px;
    height: 1px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    position: absolute;
    content: '';
  }
}

.footer-link {
  margin-bottom: 5px;
  font-size: 12px;
  color: inherit;
  align-self: flex-start;
}

.footer-column__contacts .footer-link {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.footer-link__icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  fill: #fff;
}

.footer-copy {
  width: 100%;
  margin-top: 35px;
  font-size: 10px;
  font-weight: 500;
}

.footer-copy__contacts {
  padding-bottom: 13px;
  margin-bottom: 12px;
  border-bottom: 1px solid;
}

.footer-copy__text-link {
  color: #fff;
}

@media (min-width: 768px) {
  .footer {
    padding-top: 37px;
    padding-bottom: 33px;
    background-color: #2b2e37;
  }
  .footer-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer-column {
  }
  .footer-column__services {
  }
  .footer-column__contacts {
  }

  .footer-column__title {
    margin-bottom: 15px;
  }
  .footer-link {
    margin-bottom: 8px;
  }
  .footer-btn {
    width: 100%;
    margin-top: -40px;

    .btn {
      width: 280px;
      height: 42px;
      font-size: 16px;
      box-shadow: 0 3px #C47D20, 0 6px 15px #151515;
    }
  }
}

@media (max-width: 767px) {
  .footer {
    padding-bottom: 30px;
    background-color: #2b2e37;

    .btn-yellow {
      height: 44px;
      font-size: 16px;
      box-shadow: 6px 6px 15px #1f232f;
    }
  }
  .footer-column {
    padding-left: 27px;
    padding-right: 27px;
    margin-bottom: 34px;
  }
  .sprite-phone-3 {
    font-size: 16px;
    line-height: 1;
  }
  .sprite-clock-sm {
    line-height: 1.5;
  }
  .footer-link[class*=sprite] {
    margin-bottom: 8px;
  }

  .footer-btn {
    padding-left: 27px;
    padding-right: 30px;

    .btn {
      width: 99%;
    }
  }
}

@media (max-width: 767px) {
  .footer-copy__text {
    letter-spacing: -1px;
  }
}
