.footer {
  padding-top: 15px;
  padding-bottom: 17px;
  background-color: #0066b2;
}

.footer-inner {
  padding: 15px 20px 10px 30px;
  background-color: #ecf6ff;
  display: flex;
  flex-wrap: wrap;
}

.footer-top {
  margin-bottom: 7px;
  margin-left: -34px;
  margin-top: -15px;
  display: flex;

}

.footer-logo {
  width: 229px;
  height: 80px;
  position: relative;
  background-color: #0066b2;
  flex-shrink: 0;

  img {
    width: 114px;
  }

  &::after {
    top: 0;
    right: 0;
    position: absolute;
    border: 40px solid #ecf6ff;
    border-top-color: transparent;
    border-left-color: transparent;
    content: '';
  }
}

.footer-top__title {
  margin-top: 12px;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: $font-family-head;
}

.footer-top__text {
  font-weight: 300;
  font-size: 15px;
}

.footer-bottom {
  width: 100%;
  display: flex;
}

.footer-column {
  max-width: 39%;
  flex-basis: 39%;
}

.footer-support {
  max-width: 27%;
  flex-basis: 27%;
}

.footer-support__title {
  margin-bottom: 5px;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: $font-family-head;
}

.footer-support__time {
  padding-left: 27px;
  font-weight: 300;
}

.footer-location {
  font-weight: 300;
  display: flex;
}

.footer-location__icon {
  width: 25px;
  height: 25px;
  margin-top: 5px;
  margin-right: 5px;
}

.footer-price {
  font-weight: 300;
  display: flex;
}

.footer-price__master {
  margin-right: 10px;
  flex-shrink: 0;
}

.footer-copy {
  width: 100%;
  margin-top: -5px;
  line-height: 1;
}

.footer-copy__text {
  font-size: 8px;
}

.footer-copy__terms {
  text-transform: uppercase;
  font-size: 10px;
  color: #0066b2;
}
