.get-estimate {
  padding-top: 65px;
  padding-bottom: 65px;
  background-color: #fef5ea;
}

.get-estimate-container {
  position: relative;

  &::before,
  &::after {
    z-index: 5;
    position: absolute;
    content: '';
  }

  &::before {
    width: 38%;
    height: 60%;
    top: 15%;
    left: 12%;
    background: url(../img/decor/estimate.jpg) no-repeat center;
  }

  &::after {
    width: 26%;
    height: 32%;
    bottom: 0;
    left: 37%;
    background: url(../img/decor/arrow-arc.svg) no-repeat center;
  }
}

.get-estimate-wrap {
  padding-top: 30px;
  padding-bottom: 100px;
  border: 10px solid #fed60c;
  position: relative;
  background-color: #fff;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
}

.get-estimate-form {
  margin-right: 9%;
}
