.get-estimate {
  background: url(../img/bg/bg-fifth.jpg) no-repeat center;
  background-size: cover;
}

.get-estimate-wrap {
  position: relative;
}

@media (min-width: 576px) {
  .get-estimate {
    border-top: 30px solid #fff;
    padding-top: 31px;
    padding-bottom: 35px;
  }
  .get-estimate-wrap {
    padding-top: 30px;
    padding-bottom: 30px;
    border: 10px solid $yellowColor;
    background-color: #fff;
  }
}

@media (min-width: 767px) {
  .get-estimate-wrap {
    &::before,
    &::after {
      content: '';
    }

    &::before {
      width: 529px;
      height: 350px;
      left: 7%;
      position: relative;
      display: block;
      background: url(../img/decor/estimate.jpg) no-repeat center;
      background-size: contain;
    }

    &::after {
      width: 20%;
      height: 10%;
      bottom: 57px;
      left: 42%;
      opacity: .5;
      z-index: 5;
      position: absolute;
      background: url(../img/decor/arrow-arc.svg) no-repeat center;
      background-size: contain;
    }
  }
}

@media (min-width: 1100px) {
  .get-estimate-form {
    position: absolute;
    top: -77px;
    right: 35px;
    max-width: 393px;
  }
}

@media (min-width: 1280px) {
  .get-estimate-container::before {
    left: 12%;
  }
}

@media (max-width: 766px) {
  .get-estimate-form {
    max-width: 100%;
  }
}

@media (max-width: 575px) {
  .get-estimate {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;

    .call-form__text {
      margin-bottom: 0;

      &::after {
        width: 260px;
        height: 202px;
        left: 7%;
        position: relative;
        display: block;
        background: url(../img/decor/estimate.jpg) no-repeat center;
        background-size: contain;
        content: '';
      }
    }
  }
  .get-estimate-form {
    position: relative;

    &::after {
      width: 41px;
      height: 154px;
      top: 64px;
      right: 15px;
      opacity: .5;
      z-index: 5;
      position: absolute;
      background: url(../img/decor-m/arrow-arc.svg) no-repeat center;
      background-size: contain;
      content: '';
    }
  }
}

@media (min-width: 767px) and (max-width: 1279px) {
  .get-estimate-container::before {
    left: 3%;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .get-estimate-form {
    max-width: 51%;
  }
}
