.header__inner {
  display: flex;
}

.header-logo {
  flex: none;
}

.header-info {
  display: flex;
}

.header-support__item:not(:first-of-type) {
  margin-left: 16px;
}

.header-support__write-us {
  margin-left: 20px;
  margin-right: auto;
  font-size: 25px;
  font-weight: 500;
  color: inherit;
  line-height: 1;
  border-bottom: 1px solid;
  font-family: $font-family-head;
}

.header-support__left {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.header-support__right {
  display: flex;
  align-items: center;
}

@media (max-width: 1199px) {
  .header-logo {
    width: 80px;
  }
}

@media (max-width: 991px) {
  .header {
    background-color: #fff;
    position: relative;
    z-index: 12;
  }
  .header-info {
    margin-left: auto;
    align-items: center;
  }
  .header-support__left {
    order: 1;
  }
  .header-request {
    display: none;
  }
}

@media (max-width: 766px) {
  .header__inner {
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
  }
  .header-logo {
    width: 70px;
    margin-right: auto;
  }
  .header-support__write-us {
    display: none;
  }
  .header-phone {
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  .header-support__left {
    display: none;
  }
}

@media (max-width: 374px) {
  .header-phone {
    display: none
  }
}

@media (min-width: 767px) {
  .header-phone {
    font-size: 27px;
  }
  .header-phone__icon {
    width: 27px;
    height: 27px;
  }
}

@media (min-width: 992px) {
  .header-logo {
    margin-right: 50px;
  }
  .header-info {
    width: 100%;
    margin-top: -2px;
    padding-bottom: 10px;
    flex-grow: 1;
  }
  .header-phone {
    margin-right: 21px;
  }
}

@media (min-width: 1200px) {
  .header__inner {
    padding-top: 20px;
    align-items: flex-start;
  }
  .header-logo {
    width: 150px;
  }
  .header-info {
    border-bottom: 1px solid #a7a7a7;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .header-phone {
    margin-right: 30px;
  }
}

@media (min-width: 767px) and (max-width: 1199px) {
  .header__inner {
    padding-top: 15px;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .header__inner {
    padding-bottom: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .header-info {
    margin-left: auto;
  }
}
