.header__inner {
  display: flex;
}

.header-logo {
  flex: none;
}

.header-info {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.header-support {
  display: flex;
  align-items: center;
  align-self: flex-end;
}

.header-support__item:not(:first-of-type) {
  margin-left: 16px;
}

.header-support__write-us {
  margin-left: 20px;
  font-size: 25px;
  font-weight: 500;
  color: inherit;
  line-height: 1;
  border-bottom: 1px solid;
}

.header-info__contacts {
  display: flex;
  align-items: center;
}

.header-phone {
  font-weight: 700;
  color: inherit;
  line-height: 1;

  &:hover {
    color: inherit;
  }
}

.header-phone__icon {
  margin-right: 4px;
  fill: $body-color;
}

@media (max-width: 1199px) {
  .header-support {
    margin-bottom: 15px;
    margin-left: auto;
  }
}

@media (max-width: 766px) {
  .header__inner {
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
  }
  .header-logo {
    width: 70px;
    margin-right: auto;
  }
  .header-support,
  .btn-outline {
    display: none;
  }
  .header-phone {
    font-size: 20px;
  }
  .header-phone__icon {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 767px) {
  .header-logo {
    width: 150px;
  }
  .header-phone {
    margin-right: 21px;
    font-size: 27px;
  }
  .header-phone__icon {
    width: 27px;
    height: 27px;
  }
  .header-info__contacts {
    padding-left: 50px;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .header__inner {
    padding-top: 30px;
    padding-bottom: 25px;
  }

  .header-logo {
    margin-right: 50px;
  }
}

@media (min-width: 767px) and (max-width: 1199px) {
  .header__inner {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .header-info__contacts {
    width: 100%;
    justify-content: flex-end;
  }
}
