.header__inner {
  display: flex;
}

.header-logo {
  flex: none;
}

.header-info {
  display: flex;
}

.header-support__item:not(:first-of-type) {
  margin-left: 21px;
}

.header-support__write-us {
  margin-left: 24px;
  margin-right: auto;
  font-size: 20px;
  font-weight: 500;
  color: inherit;
  line-height: 1;
  border-bottom: 1px solid;
  font-family: $font-family-head;
}

.header-support__left {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.header-support__right {
  display: flex;
  align-items: center;
}

.header-stick {
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  border-bottom: 1px solid #d6d6d6;
  position: fixed;
  z-index: 10;
  transform: translateY(-100%);
  transition: transform .4s ease-out;
}

.header-stick__current .header-stick {
  transform: translateY(0);
}

.header-mob {
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
  font-family: $font-family-head;
}

.header-mob__head {
  color: #ba2827;
  font-size: 25px;
}

.header-mob__text {
}

@media (max-width: 1199px) {
  .header-logo {
    width: 80px;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .header {
    background-color: #fff;
    position: relative;
    z-index: 12;
  }
}

@media (max-width: 991px) {
  .header-info {
    margin-left: auto;
    align-items: center;
  }
  .header-support__left {
    order: 1;
  }
  .header-request {
    display: none;
  }
}

@media (max-width: 766px) {
  .header {
    padding: 2px 10px 2px 20px;
  }
  .header__inner {
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    flex-wrap: wrap;
  }
  .header-logo {
    width: 62px;
    margin-right: 23px;
  }
  .header-info {
    padding-top: 4px;
    width: 100%;
    flex-wrap: wrap;
  }
  .header-support__right {
    width: 100%;
    justify-content: center;
  }
  .header-phone {
    font-size: 24px;
  }
  .phone-block-icon {
    width: 22px;
    height: 22px;
  }
}

@media (max-width: 575px) {
}

@media (max-width: 374px) {
  /*  .header-phone {
      display: none
    }*/
}

@media (min-width: 767px) {
  .header-mob {
    display: none;
  }
  .header-phone {
    font-size: 22px;
  }
  .header-phone__icon {
    width: 27px;
    height: 27px;
  }
}

@media (min-width: 992px) {
  .header-logo {
    margin-right: 34px;
  }
  .header-info {
    width: 100%;
    margin-top: -2px;
    padding-bottom: 6px;
    flex-grow: 1;
  }
  .header-phone {
    margin-right: 28px;
  }
}

@media (min-width: 1200px) {
  .header__inner {
    padding-top: 20px;
    align-items: flex-start;
  }
  .header-logo {
    width: 122px;
  }
  .header-info {
    border-bottom: 1px solid #d6d6d6;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .header-phone {
    margin-right: 30px;
  }
}

@media (min-width: 767px) and (max-width: 1199px) {
  .header__inner {
    padding-top: 15px;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .header__inner {
    padding-bottom: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .header-info {
    margin-left: auto;
  }
}
