.main-section {
  background: url(../img/bg-header.jpg) no-repeat top center #f8d3ae;
}

.main-section-title {
  font-size: 106px;
  line-height: 103px;
  letter-spacing: 1px;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
}

.main-section-title__text {
  display: block;
}

.main-section-price {
  margin-bottom: 58px;
  text-transform: uppercase;
  display: flex;
  align-items: flex-start;
}

.main-section-price__text {
  margin-right: 14px;
  text-align: right;
  font-weight: 700;
  font-style: italic;
}

.main-section-price__cost {
  margin-right: 13px;
  font-weight: 900;
  font-style: italic;
  color: #fdca00;
  text-shadow: 3px 0 0 $body-color,
  0 3px 0 $body-color,
  -3px 0 0 $body-color,
  0 -3px 0 $body-color;
}

.main-section-price__sup {
  font-weight: 700;
  font-style: italic;
  line-height: 1;
}

.main-section-paint {
  padding: 10px 54px 18px 2px;
  margin-bottom: 34px;
  max-width: 536px;
  font-size: 28px;
  font-weight: 700;
  font-style: italic;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
  background: url(../img/bg-paint.png) center no-repeat;
}

@media (min-width: 576px) {
  .main-section {
    height: 850px;
    padding-top: 50px;
  }
}

@media (min-width: 767px) {
  .main-section-title {
    font-size: 106px;
    line-height: 103px;
  }
  .main-section-title__text {
    margin-left: 112px;
    font-size: 73px;
  }
  .main-section-price__text {
    font-size: 48px;
    line-height: 46px;
  }

  .main-section-price__cost {
    font-size: 115px;
    line-height: 92px;
  }

  .main-section-price__sup {
    font-size: 46px;
  }
}

@media (max-width: 766px) {
  .main-section-title {
    font-size: 50px;
    line-height: 47px
  }
  .main-section-title__text {
    margin-left: 56px;
    font-size: 36px;
  }
  .main-section-price__text {
    font-size: 24px;
    line-height: 24px;
  }
  .main-section-price__cost {
    font-size: 55px;
    line-height: 50px;
  }
  .main-section-price__sup {
    font-size: 23px;
  }
  .main-section-paint {
    font-size: 18px;
  }
}

@media (max-width: 575px) {
  .main-section {
    padding-top: 30px;
    padding-bottom: 30px;
    background-size: cover;
  }
  .main-section-paint {
    background-size: 100%;
  }
}
