.main-section {
  font-family: $font-family-head;
  background: url(../img/bg/bg-header.jpg) no-repeat bottom center #f8d3ae;
}

.main-section-title {
  margin-bottom: 0;
  font-size: 106px;
  line-height: 103px;
  letter-spacing: 1px;
  font-weight: 900;
  text-transform: uppercase;
}

.main-section-title__text {
  display: block;
}

.main-section-price {
  margin-bottom: 26px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.main-section-price__text {
  margin-right: 6px;
  text-align: right;
  font-weight: 700;
}

.main-section-price__cost {
  padding: 25px 14px 25px 25px;
  position: relative;
  background: url(../img/bg/bg-cost.svg) no-repeat center;
  background-size: contain;
  display: flex;
  align-items: center;
}

.main-section-price__sup {
  font-weight: 700;
  line-height: 1;
}

.main-section-paint {
  padding: 19px 2px 20px 2px;
  margin-bottom: 37px;
  margin-left: 10px;
  height: 98px;
  max-width: 464px;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  background: url(../img/bg/bg-paint.png) center no-repeat;
}

@media (min-width: 576px) {
  .main-section {
    height: 630px;
    display: flex;
    align-items: center;
  }
}

@media (min-width: 767px) {
  .main-section-title {
    font-size: 80px;
    line-height: 65px;
  }
  .main-section-title__text {
    margin-left: 195px;
    font-size: 65px;
  }
  .main-section-price__text {
    font-size: 45px;
    line-height: 45px;
  }

  .main-section-price__sup {
    font-size: 45px;
    margin-left: 8px;
    sup {
      font-size: 64%;
    }
  }
}

@media (max-width: 766px) {
  .main-section-title {
    font-size: 50px;
    line-height: 47px
  }
  .main-section-title__text {
    margin-left: 56px;
    font-size: 36px;
  }
  .main-section-price__text {
    font-size: 24px;
    line-height: 24px;
  }
  .main-section-price__cost {
    font-size: 55px;
    line-height: 50px;
  }
  .main-section-price__sup {
    font-size: 23px;
  }
  .main-section-paint {
    font-size: 18px;
  }
}

@media (max-width: 575px) {
  .main-section {
    padding-top: 30px;
    padding-bottom: 30px;
    background-size: cover;
  }
  .main-section-paint {
    background-size: 100%;
  }
}

@media (min-width: 766px) and(max-width: 991px) {
  .main-section {
    background-position: 50% 0;
    background-size: cover;
  }
}
