.menu {
  width: 100%;
  margin-top: 25px;
  line-height: 1;
  display: flex;
  justify-content: space-between;
}

.menu-link {
  font-size: 18px;
  position: relative;
  color: inherit;

  &::after {
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -16px;
    display: block;
    background-color: $red;
    content: '';
    transition: width .4s;
  }
}

.menu-calc {
  display: inline-flex;
  align-items: center;

  &:hover .menu-calc__icon {
    fill: $red;
  }
}

.menu-calc__icon {
  width: 23px;
  height: 23px;
  margin-right: 9px;
  fill: $body-color;
}

.menu-link__active {
  color: $red;

  &:hover {
    color: $red;
  }

  &::after {
    width: 100%;
  }
}
