.reviews {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #d1e9ff;
  overflow: hidden;
  position: relative;
  z-index: 5;

  &::before,
  &::after {
    width: 100%;
    left: 0;
    position: absolute;
    content: '';
  }

  &::before {
    height: 85px;
    top: 110px;
  }

  &::after {
    height: 130px;
    bottom: 0;
  }
}

.reviews-title {
  margin-bottom: 15px;
}

.reviews-pre-title {
  margin-bottom: 30px;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: $font-family-head;
  text-align: center;
}

/* what */
