.video-work-title {
  margin-bottom: 14px;
}

.video-work-pre-title {
  text-align: center;
}

.video-work-media {
  position: relative;
  cursor: pointer;
}

.video-work-col__content {
  text-align: center;
  background-color: #ebebeb;
}

.video-work-col__title {
  margin-bottom: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: $font-family-head;
}

.video-work-col__location {
  margin-bottom: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-work__list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  text-align: center;
  display: flex;
  align-items: center;
}

.video-work__list-item {
  flex-grow: 1;
}

.video-work__list-icon {
  fill: #6f6f6f;
}

@media (min-width: 576px) {
  .video-work {
    padding-top: 25px;
    padding-bottom: 30px;
  }

  .video-play {
    cursor: pointer;
    position: relative;
    background-color: #333;

    &::after {
      top: 50%;
      left: 50%;
      width: 70px;
      height: 70px;
      margin-left: -35px;
      margin-top: -35px;
      position: absolute;
      background: url(../img/decor/play.png) no-repeat center;
      background-size: contain;
      content: '';
    }
  }

  .video-work-pre-title {
    margin-bottom: 14px;
    font-size: 21px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: $font-family-head;
  }
  .video-work-row {
    margin-left: -14px;
    margin-right: -14px;
    display: flex;
    flex-wrap: wrap;
  }

  .video-work-col {
    padding: 14px;
    flex-basis: 50%;
    max-width: 50%;
    outline: 2px solid $yellowColor;
    outline-offset: -14px;
  }
  .video-work-col__title {
    font-size: 21px;
  }

  .video-work-col__content {
    padding: 12px 16px 16px;
  }
  .video-work-col__icon {
    width: 35px;
    height: 40px;
    margin-left: -8px;
  }
  .video-work__list-item {
    font-size: 14px;
  }
  .video-work__list-icon {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 575px) {
  .video-work {
    padding-top: 16px;
    padding-bottom: 20px;
  }
  .video-work-title {
    font-weight: 400;
  }
  .video-work-title__bold {
    font-weight: 900;
  }
  .video-work-pre-title {
    font-size: 13px;
  }

  .video-work-col {
    margin-bottom: 12px;
    border: 2px solid $yellowColor;
  }

  .video-work-col__location {
    font-size: 13px;
  }
  .video-work-col__content {
    padding: 7px 13px 8px;
  }
  .video-work-col__icon {
    width: 23px;
    height: 23px;
  }
  .video-work__list-item {
    font-size: 13px;
  }
  .video-work__list-icon {
    width: 28px;
    height: 28px;
  }
}
