.advantages {
  padding-top: 22px;
  padding-bottom: 26px;
}

.advantages-title {
  margin-bottom: 49px;
  line-height: 1.1;
  text-align: center;
  color: #fff;
}

.advantages-title__text {
  display: block;
}

.advantages-presentation {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    content: '';
  }

  &::before {
    background-image: url(../img/product/img-001.png);
  }

  &::after {
    background-image: url(../img/product/img-002.png);
  }
}

.advantages-list {
  color: #fff;
}

.advantages-item {
  position: relative;

  &::before {
    top: 0;
    position: absolute;
  }
}

.sprite-android {
  &::before {
    top: -7px;
  }

  &::after {
    top: -7px;
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    content: '';
  }
}

.sprite-net::before {
  top: -2px;
}

.sprite-on::before {
  top: -7px;
}

.sprite-imei::before {
  top: -5px;
}

.advantages-item__title {
  font-size: 14px;
  text-transform: uppercase;
  position: relative;

  &::after {
    height: 1px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    position: absolute;
    content: '';
  }
}

.advantages-item__text {
  max-width: 480px;
  font-size: 14px;
}

.advantages-presentation__text {
  color: #fff;
}

.advantages-info {
  position: relative;

  &::before {
    width: 100%;
    position: absolute;
    content: '';
  }
}

.advantages-info__title {
  margin-bottom: 35px;
  line-height: 1.2;
  color: #fff;
  text-align: center;
}

.advantages-info__title-bold {
  font-weight: 600;
  display: block;
}

@media (min-width: 576px) {
  .advantages {
    background: #203457;
    background: -moz-linear-gradient(left, #203457 0%, #3e5882 50%, #203457 100%);
    background: -webkit-linear-gradient(left, #203457 0%, #3e5882 50%, #203457 100%);
    background: linear-gradient(to right, #203457 0%, #3e5882 50%, #203457 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#203457', endColorstr='#203457', GradientType=1);
  }
}

@media (min-width: 768px) {
  .advantages {
    padding-top: 34px;
  }
  .advantages-title {
    margin-bottom: 45px;
  }
  .advantages-presentation {
    &::before {
      width: 284px;
      height: 744px;
      top: -35px;
    }

    &::after {
      width: 279px;
      height: 434px;
      bottom: -22px;
    }
  }
  .advantages-item:not(:last-child) {
    margin-bottom: 47px;
  }
  .advantages-item__title {
    max-width: 525px;
    padding-bottom: 25px;
    line-height: 1;

    &::after {
      width: 105px;
      margin-bottom: 10px
    }
  }
  .advantages-presentation__text {
    padding-top: 47px;
    padding-bottom: 22px;
    line-height: 1.3;
  }
  .advantages-info {
    padding-top: 51px;

    &::before {
      height: 68px;
      top: -12px;
      background: url(../img/decor/advantages-line.png) no-repeat center;
    }
  }

  .advantages-info__list {
    display: flex;
    flex-wrap: wrap;

    .advantages-item {
      max-width: 50%;
      flex-basis: 50%;
    }
  }
  .sprite-sound::before {
    top: -3px;
  }

  .sprite-noise::before {
    top: -3px;
  }

  .sprite-battery::before {
    top: -7px;
    left: 59px;
  }

  .sprite-animation::before {
    top: -7px;
  }

  .sprite-sensor::before {
    top: -8px;
  }

  .sprite-detector::before {
    top: -4px;
    left: 56px;
  }

  .sprite-qi::before {
    top: -7px;
    left: 61px;
  }

  .sprite-geo::before {
    top: -7px;
    left: 54px;
  }
}

@media (min-width: 992px) {
  .advantages-presentation {
    &::before,
    &::after {
      right: 108px;
    }
  }
  .advantages-item__title {
    font-size: 24px;
  }
  .advantages-item {
    padding-left: 110px;

    &::before {
      left: 58px;
    }
  }
  .sprite-android {
    &::before {
      left: 63px;
    }

    &::after {
      left: 27px;
      background-image: url(../img/spritesheet.png);
      @include stitches-sprite(-152px, -5px, 29px, 36px);
    }
  }

  .advantages-info__list .advantages-item {
    padding-left: 105px;

    &:nth-of-type(even) {
      margin-left: -52px;
    }
  }
  .advantages-presentation__text {
    margin-left: 110px;
  }
}

@media (max-width: 991px) {
  .advantages-item {
    &::before {
      left: 0;
    }
  }
  .sprite-android {
    &::before {
      left: 19px;
    }

    &::after {
      left: 0;
      background-image: url(../img/spritesheet-m.png);
      @include stitches-sprite(-88px, -5px, 16px, 20px);
    }
  }
}

@media (max-width: 767px) {
  .advantages-presentation {
    &::before, &::after {
      right: 14px;
    }

    &::before {
      width: 147px;
      height: 385px;
      top: -28px;
    }

    &::after {
      width: 147px;
      height: 233px;
      bottom: 59px;
    }
  }
  .advantages-list:not(.advantages-info__list) .advantages-item__text {
    display: none
  }
  .advantages-item {
    padding-top: 15px;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
  .advantages-item__title {
    max-width: 50%;
    padding-bottom: 6px;
    line-height: 1.6;

    &::after {
      width: 75px;
    }
  }
  .advantages-presentation__text {
    max-width: 100%;
    padding-top: 42px;
    margin-bottom: 38px;

    &::after {
      display: none;
    }
  }
  .advantages-info {
    padding-top: 23px;
    border-top: 1px solid #fff;

    &::before {
      height: 26px;
      top: -14px;
      background: url(../img/decor/waves.png) no-repeat center;
    }

    .advantages-item__title {
      max-width: 100%;
      padding-left: 28px;
      padding-bottom: 12px;
      margin-bottom: 11px;

      br {
        display: none;
      }
    }

    .advantages-item {
      padding-top: 0;
    }
  }
  .advantages-info__title {
    display: none;
  }
}

@media (max-width: 575px) {
  .advantages {
    background: rgb(32, 52, 87);
    background: -moz-linear-gradient(left, rgba(32, 52, 87, 1) 0%, rgba(62, 88, 130, 1) 50%, rgba(32, 52, 87, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(32, 52, 87, 1) 0%, rgba(62, 88, 130, 1) 50%, rgba(32, 52, 87, 1) 100%);
    background: linear-gradient(to right, rgba(32, 52, 87, 1) 0%, rgba(62, 88, 130, 1) 50%, rgba(32, 52, 87, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#203457', endColorstr='#203457', GradientType=1);
  }
}

@media (max-width: 359px) {
  .advantages-item__title {
    font-size: 13px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .advantages-presentation {
    &::before,
    &::after {
      right: 0;
    }
  }
  .advantages-item {
    padding-left: 45px;
  }
  .advantages-item__text {
    max-width: 61%;
  }
  .advantages-presentation__text {
    margin-left: 45px;
  }
  .advantages-info__list .advantages-item {
    padding-left: 30px;
  }
}
