.call-form {
  width: 100%;
  border-radius: 6px;
  outline: 3px solid $orangeColor;
  outline-offset: -9px;
  box-shadow: 12px 12px 16px 0 rgba(#888888, .37);
  align-self: flex-start;
  background: #e3e4e4;
  background: -moz-linear-gradient(left, #e3e4e4 0%, #ffffff 50%, #e3e4e4 100%);
  background: -webkit-linear-gradient(left, #e3e4e4 0%, #ffffff 50%, #e3e4e4 100%);
  background: linear-gradient(to right, #e3e4e4 0%, #ffffff 50%, #e3e4e4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3e4e4', endColorstr='#e3e4e4', GradientType=1);

}

.call-form__title {
  margin-bottom: 6px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  color: $orangeColor;
  text-transform: uppercase;
  text-align: center;
}

.call-form__text {
  margin-bottom: 6px;
  font-size: 22px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
}

.call-form__text-2 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  line-height: 1;
}

.call-form__text-3 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  line-height: 1;
}

.call-form__price {
  margin-bottom: 21px;
  font-size: 14px;
  color: #000;
  text-align: center;
  font-weight: 700;
  line-height: 1;
}

.call-form__price-cost {
  font-size: 30px;
  color: $orangeColor;
}

.call-form__group {
  position: relative;
}

.call-form__icon {
  width: 23px;
  height: 18px;
  fill: #a8a8a8;
  left: 9px;
  position: absolute;
}

.call-form__field {
  padding-left: 36px;

  &:focus {
    box-shadow: none;
  }
}

.call-form__terms {
  margin-bottom: 8px;
  font-size: 10px;
  text-align: center;

  &::before {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
  }
}

@media (min-width: 576px) {
  .call-form {
    max-width: 290px;
  }
  .call-form__field {
    height: 40px;
  }
  .call-form {
    padding: 19px 23px 25px;
  }
  .call-form__title {
    font-size: 26px;
  }
  .call-form__text {
    font-size: 20px;
  }
  .call-form__text-2 {
    font-size: 18px;
  }
  .call-form__price {
    font-size: 13px;
  }
  .call-form__price-cost {
    font-size: 26px;
  }
  .call-form__text-3 {
    margin-bottom: 17px;
    font-size: 27px;
  }
  .call-form__text-small {
    padding-top: 5px;
    font-size: 11px;
  }
  .call-form__icon {
    top: 10px;
  }
}

@media (max-width: 575px) {
  .call-form {
    max-width: 345px;
    margin-left: auto;
    margin-right: auto;
    padding: 23px 32px 30px;

    .btn-primary {
      width: 99%;
    }
  }
  .call-form__terms::before {
    margin-top: -4px
  }
  .call-form__text-small {
    padding-top: 11px;
    font-size: 13px;
  }
  .call-form__text {
    margin-bottom: 6px;
  }
  .call-form__icon {
    top: 16px;
  }
}

@media (max-width: 374px) {
  .call-form .btn-primary {
    font-size: 14px;
  }
}

@media (max-width: 359px) {
  .call-form__text {
    font-size: 20px;
  }
  .call-form__price-cost {
    font-size: 22px;
  }
}
