.header__inner {
  max-width: 754px;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;

  &::before {
    width: 216px;
    background: url(../img/decor/gurl-3.png) no-repeat center bottom;
    background-size: contain;
    align-self: flex-end;
    content: '';
  }

  &::after {
    width: 106px;
    height: 177px;
    background: url(../img/product/airpods-mob.png) no-repeat center;
    background-size: contain;
    align-self: flex-end;
    content: '';
  }
}

.header-content {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  text-align: center;
}

.header-title {
  margin-bottom: 0;
  font-weight: 700;
  line-height: 1.2;
}

.header-title__text {
  margin-bottom: 2px;
  font-weight: 600;
  display: block;
}

.header-pre-title {
  margin-bottom: 18px;
}

.header-price__old {
  font-size: 12px;
}

.header-price__old-strikeout {
  text-decoration: none;
  position: relative;

  &::after {
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 58%;
    left: 0;
    content: '';
  }
}

.header-price__new {
  font-weight: 700;
  line-height: 1;
  display: flex;
  justify-content: center;
}

.header-price__new-discount {
  margin-bottom: 3px;
  margin-right: 10px;
  align-self: flex-end;
}

.header-price__new-cost {
  color: $orangeColor;
}

.header-form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .header {
    color: #fff;
    background: url(../img/bg/main-bg-blue.jpg) no-repeat top center #14274e;
  }
  .header__inner {
    &::after {
      width: 120px;
      height: 230px;
      margin-bottom: 40px;
      background-image: url(../img/product/airpods-2.png);
    }

    &::before {
      width: 250px;
    }
  }
  .header-content {
    padding-bottom: 25px;
    align-self: flex-end;
  }
  .header-title {
    margin-bottom: 5px;
  }
  .header-title__text {
    margin-bottom: 2px;
  }
  .header-pre-title {
    margin-bottom: 23px;
  }
  .header-price__new {
    margin-bottom: 23px;
  }
  .header-price__new-cost {
    letter-spacing: -2px;
  }
  .header-price__old {
    margin-bottom: 5px;
  }
  .header-price__old-strikeout::after {
    background-color: #fff;
  }

  .header-form {
    max-width: 245px;
    padding-left: 5px;

    .reviews-form__group {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 16px;
    }

    .btn-primary {
      width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .header__inner::after {
    margin-bottom: 17px;
  }
  .header-content {
    order: 1
  }
}

@media (min-width: 992px) {
  .header {
    height: 375px;
  }
  .header__inner::before {
    height: 341px;
    margin-left: -20px;
    margin-right: 25px;
  }

  .header-title {
    font-size: 33px;
  }

  .header-title__text {
    font-size: 21px;
  }

  .header-pre-title {
    font-size: 18px;
  }

  .header-price__new-discount {
    font-size: 15px;
  }

  .header-price__new-cost {
    font-size: 32px;
  }
}

@media (max-width: 991px) {
  .header-title {
    font-size: 35px;
  }

  .header-title__text {
    font-size: 20px;
  }

  .header-pre-title {
    font-size: 21px;
  }
  .header-price__old {
    font-size: 14px;
  }
  .header-price__new-cost {
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .header__inner {
    flex-wrap: wrap;

    &::before {
      height: 271px;
      order: 1;
    }

    &::after {
      height: 180px;
      margin-bottom: 33px;
      margin-left: 6px;
      order: 2;
    }
  }
}

@media (max-width: 575px) {
  .header {
    height: 660px;
    padding-top: 26px;
    color: #fff;
    background: url(../img/bg/main-bg-mob.jpg) no-repeat top center #2d3d56;
    background-size: cover;
  }
  .header__inner::before {
    width: 205px;
    margin-left: 8px;
    background-image: url(../img/mob/gurl.png);
  }
  .header-price__old {
    margin-bottom: 6px;
  }
  .header-price__new {
    margin-bottom: 30px;
  }
  .header-form {
    max-width: 290px;

    .reviews-form__group {
      margin-bottom: 17px;
    }

    .btn-primary {
      width: 98%;
    }
  }

  .header-call {
    z-index: 20;
    position: relative;
  }
  .header-content {
    width: 100%;
  }
}

@media (max-width: 359px) {
  .header__inner::before {
    width: 65%;
    margin-left: 0;
  }
  .header__inner::after {
    width: 30%;
  }
}

@media (min-width: 375px) and (max-width: 450px) {
  .header__inner::before {
    margin-left: auto;
    margin-right: auto;
  }
  .header__inner::after {
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .header {
    padding-top: 30px;

    .btn-primary {
      width: 244px;
      height: 54px;
      font-size: 16px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header {
    height: 400px;
  }
  .header__inner {
    &::before {
      height: inherit;
    }

    &::after {
      margin-left: 20px;
      margin-right: 20px;
      flex-shrink: 0;
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .header-content {
    width: 100%;
  }
}
