.btn {
  font-weight: 500;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .43rem 1.6rem;
  font-size: .9375rem;
  line-height: 1.5;
  border-radius: 35px;
  text-transform: uppercase;
  transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:focus {
    outline: none;
  }
}

.btn-primary {
  height: 68px;
  padding-left: 35px;
  padding-right: 35px;
  white-space: nowrap;
  border-width: 0;
  box-shadow: 2px 2px 0 #c75021;
  background: rgb(254, 189, 17);
  background: -moz-linear-gradient(top, rgba(254, 189, 17, 1) 0%, rgba(243, 116, 41, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(254, 189, 17, 1) 0%, rgba(243, 116, 41, 1) 100%);
  background: linear-gradient(to bottom, rgba(254, 189, 17, 1) 0%, rgba(243, 116, 41, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#febd11', endColorstr='#f37429', GradientType=0);

  &:hover {
    box-shadow: 0 1px #dbb536;
  }
}

@media (min-width: 576px) {
  .btn-primary {
    width: 333px;
    height: 72px;
    overflow: hidden;
    box-shadow: none;
    font-size: 20px;
    background: url(../img/btn/btn-main.png) no-repeat center;
    background-size: contain;
  }
}

@media (max-width: 575px) {
  .btn-primary {
    height: 45px;
    font-size: 18px;
  }
}
