.btn {
  font-weight: 500;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .43rem 1.6rem;
  font-size: .9375rem;
  line-height: 1.5;
  border-radius: 35px;
  text-transform: uppercase;
  transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:focus {
    outline: none;
  }
}

.btn-primary {
  height: 68px;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 20px;
  white-space: nowrap;
  box-shadow: 0 3px #c5501f, 0 5px 12px #a7a7a7;
  background: #fdbd10;
  background: -moz-linear-gradient(top, #fdbd10 0%, #f37428 100%);
  background: -webkit-linear-gradient(top, #fdbd10 0%, #f37428 100%);
  background: linear-gradient(to bottom, #fdbd10 0%, #f37428 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdbd10', endColorstr='#f37428', GradientType=0);

  &:hover {
    box-shadow: 0 1px #dbb536;
  }
}
