@@include('./includes/header.html')

<header class="header">
    <div class="header__inner container">
        <div class="header-logo logo">
            <a href="#home"><img src="img/logo.svg" alt="алмонд"></a>
        </div>
        <div class="header-info">
            <div class="header-support__left">
                <a href="https://api.whatsapp.com/send?phone=79687409646" target="_blank" rel="nofollow" class="header-support__item btn-whats-app">
                    <svg class="btn-whats-app__icon">
                        <use xlink:href="img/icons.svg#whatsapp"></use>
                    </svg>
                    <span>whatsApp</span>
                </a>
                <a href="https://vk.com/alex_lenk" target="_blank" rel="nofollow" class="header-support__item btn-vk">
                    <svg class="btn-vk__icon">
                        <use xlink:href="img/icons.svg#vk"></use>
                    </svg>
                </a>
                <a href="#" class="header-support__write-us">Напишите нам</a>
            </div>

            <button type="button" class="menu-toggle"></button>

            <div class="header-support__right">
                <a href="tel:84959999999" rel="nofollow" class="header-phone">
                    <svg class="header-phone__icon">
                        <use xlink:href="img/icons.svg#phone"></use>
                    </svg>
                    8 (495) 999 99 99
                </a>
                <button type="button" class="header-request btn-outline btn">Заказать обратный звонок</button>
            </div>
        </div>
    </div>
</header>

<nav class="nav-menu">
    <div class="nav-menu__inner container">
        <ul class="menu list-unstyled" id="navbar-example2">
            <li class="menu-item nav-item"><a href="#home" class="menu-link nav-link active">Главная</a></li>
            <li class="menu-item nav-item"><a href="#two" class="menu-link nav-link">Ремонт квартиры</a></li>
            <li class="menu-item nav-item"><a href="#three" class="menu-link nav-link">Ремонт под ключ</a></li>
            <li class="menu-item nav-item"><a href="#fourth" class="menu-link nav-link">Ремонт новостройки</a></li>
            <li class="menu-item nav-item"><a href="#fifth" class="menu-link nav-link">Наши работы</a></li>
            <li class="menu-item nav-item"><a href="#six" class="menu-link nav-link">Вопросы</a></li>
            <li class="menu-item nav-item"><a href="#" class="menu-link nav-link">Стоимость</a></li>
        </ul>
    </div>
</nav>

<section class="main-section">
    <div class="container">
        <h1 class="main-section-title">
            ремонт
            <span class="main-section-title__text">квартир</span>
        </h1>
        <div class="main-section-price">
            <div class="main-section-price__text">
                всего<br>
                за
            </div>
            <div class="main-section-price__cost">
                <img src="img/4800.png" alt="цена от 4800">
                <div class="main-section-price__sup">Р/М<sup>2</sup></div>
            </div>
        </div>
        <div class="main-section-paint">
            Начните ремонт<br>
            без предоплат и авансов!
        </div>
        <button class="btn btn-main">Рассчитать стоимость ремонта</button>
    </div>
</section>


<section id="two" class="staff">
    <div class="staff-inner container">
        <h2 class="staff-title title-block title-block-yellow">
            <span class="title-block-bold">СОТРУДНИКИ</span> КОТОРЫМ
            МОЖНО ДОВЕРЯТЬ
        </h2>
        <div class="staff-content">
            <div class="staff-card">
                <div class="staff-card__name">Алексей</div>
                <div class="staff-card__career">ПЛИТОЧНИК, 9 ЛЕТ СТАЖА</div>
                <p class="staff-card__about">
                    Специалист плиточных и отделочных работ. Ровно уложит плитку, нанесёт гидроизоляции. После себя
                    оставит только аккуратную затирку и приятные эмоции.
                </p>
            </div>
            <ul class="card-experience list-unstyled">
                <li class="card-experience__item">
                    <div class="card-experience__number">5</div>
                    <div class="card-experience__text">лет минимальный опыт работы</div>
                </li>
                <li class="card-experience__item">
                    <div class="card-experience__number">1</div>
                    <div class="card-experience__text">из 10 кандидатов берем на работу</div>
                </li>
            </ul>
        </div>

        <aside class="staff-side">
            <ul class="staff-advantages list-unstyled">
                <li class="staff-advantages__item">
                    <div class="staff-advantages__title">
                        Постоянное<br>
                        присутствие прораба
                    </div>
                    <div class="staff-advantages__text">
                        У&nbsp;нас работают прорабы, инженеры и&nbsp;сметчики только с&nbsp;высшим строительным образованием. Каждый из&nbsp;них дорожит своей репутацией и&nbsp;имеет профессиональную подготовку
                    </div>
                </li>
                <li class="staff-advantages__item">
                    <div class="staff-advantages__title">
                        Жесткая система<br>
                        контроля мастеров
                    </div>
                    <div class="staff-advantages__text">
                        Благодаря жесткой системе контроля мы&nbsp;внедряем передовые производственные процессы и&nbsp;технологические решения. Наши мастера обучаются новым технологиям, которые улучшают качество нашего ремонта и&nbsp;сокращают сроки.
                    </div>
                </li>
                <li class="staff-advantages__item">
                    <div class="staff-advantages__title">
                        Профессиональный<br>
                        инструмент
                    </div>
                    <div class="staff-advantages__text">
                        Наши специалисты оснащены профессиональным инструментом, которые позволяет производить практически ювелирную работу с&nbsp;дорогостоящим материалом и&nbsp;воплотить любую фантазию наших клиентов.
                    </div>
                </li>
            </ul>
        </aside>
    </div>
</section>


<section id="three" class="section-cost">
    <div class="container">
        <h2 class="section-cost-title title-block title-block-yellow">
            СТОИМОСТЬ РЕМОНТА КВАРТИРЫ <span class="section-cost-title__key title-block-bold">«ПОД КЛЮЧ»</span>
        </h2>

        <ul class="section-cost-list list-unstyled">
            <li class="section-cost-item">
                <div class="section-cost-media">
                    <img src="img/room/01.jpg" class="section-cost-media__image" alt="">
                </div>
                <div class="section-cost-type">Квартира-студия</div>
                <div class="section-cost-price">
                    <div class="section-cost-price__decor">
                        <svg class="section-cost-price__decor--icon">
                            <use xlink:href="img/icons.svg#label"></use>
                        </svg>
                    </div>
                    150 000 – 200 000 р.
                </div>
            </li>
            <li class="section-cost-item">
                <div class="section-cost-media">
                    <img src="img/room/02.jpg" class="section-cost-media__image" alt="">
                </div>
                <div class="section-cost-type">1-комнатная квартира</div>
                <div class="section-cost-price">
                    <div class="section-cost-price__decor">
                        <svg class="section-cost-price__decor--icon">
                            <use xlink:href="img/icons.svg#label"></use>
                        </svg>
                    </div>
                    200 000 – 250 000 р.
                </div>
            </li>
            <li class="section-cost-item">
                <div class="section-cost-media">
                    <img src="img/room/03.jpg" class="section-cost-media__image" alt="">
                </div>
                <div class="section-cost-type">2-х комнатная квартира</div>
                <div class="section-cost-price">
                    <div class="section-cost-price__decor">
                        <svg class="section-cost-price__decor--icon">
                            <use xlink:href="img/icons.svg#label"></use>
                        </svg>
                    </div>
                    250 000 – 300 000 р.
                </div>
            </li>
            <li class="section-cost-item">
                <div class="section-cost-media">
                    <img src="img/room/04.jpg" class="section-cost-media__image" alt="">
                </div>
                <div class="section-cost-type">3-х комнатная квартира</div>
                <div class="section-cost-price">
                    <div class="section-cost-price__decor">
                        <svg class="section-cost-price__decor--icon">
                            <use xlink:href="img/icons.svg#label"></use>
                        </svg>
                    </div>
                    300 000 – 400 000 р.
                </div>
            </li>
        </ul>
    </div>
</section>


<section id="fourth" class="call-technologist">
    <div class="call-technologist-container container">
        <h2 class="call-technologist-title title-block title-block-blue">
            ПЛАНИРУЕМ РЕМОНТ <span class="title-block-bold">ПРАВИЛЬНО</span>
        </h2>

        <form action="/" class="call-technologist-form call-form">
            <div class="call-form__title">Заполните форму</div>
            <div class="call-form__text">
                и&nbsp;наш специалист свяжется с&nbsp;вами
                в&nbsp;ближайшее время
            </div>

            <div class="form-group call-form__group">
                <label class="sr-only" for="call-form__name">Ваше имя</label>
                <svg class="call-form__icon">
                    <use xlink:href="img/icons.svg#user"></use>
                </svg>
                <input type="text" class="call-form__field form-control hide-placeholder" id="call-form__name" placeholder="Ваше имя">
            </div>

            <div class="form-group call-form__group">
                <label class="sr-only" for="call-form__tel">Контактный телефон*</label>
                <svg class="call-form__icon">
                    <use xlink:href="img/icons.svg#phone"></use>
                </svg>
                <input type="tel" class="call-form__field form-control hide-placeholder"  id="call-form__tel" placeholder="Контактный телефон*">
            </div>

            <button type="submit" class="call-form__btn btn btn-yellow">Получить детальную смету</button>

            <div class="call-form__terms">
                Нажимая кнопку, вы даете согласие на обработку<br>
                персональных данных
            </div>
        </form>

        <div class="call-technologist-content">
            <p class="call-technologist-text">
                Получите полное представление о будущем ремонте<br>
                <strong>«ДО»  начало работ</strong> прямо в день обращения
            </p>

            <div class="call-technologist-content__title">
                ПО ИТОГАМ ВСТРЕЧИ<br>
                ВЫ ПОЛУЧАЕТЕ:
            </div>

            <ul class="check-list call-technologist-list">
                <li class="check-list__item">Детально просчитанная смета
                <li class="check-list__item">Просчет стоимости черновых материалов</li>
                <li class="check-list__item">Анализ планировки, технических возможностей для ремонта</li>
                <li class="check-list__item">Рекомендации по оптимальному использованию пространства</li>
                <li class="check-list__item">Советы по выбору материалов<br> для отделки</li>
                <li class="check-list__item">Расчетное время ремонтных<br> работ</li>
            </ul>
        </div>
    </div>
</section>


<section class="portfolio" id="fifth">
    <h2 class="portfolio-title title-block title-block-yellow">
        НЕБОЛЬШАЯ ЧАСТЬ <span class="title-block-bold">наших РАБОТ</span>
    </h2>

    <div class="container">
        <div class="portfolio-wrapper">
            <div class="portfolio-head">
                <h3 class="portfolio-head__title">ЕВРО РЕМОНТ 1-х КОМНАТНОЙ КВАРТИРЫ</h3>
                <div class="portfolio-head__pre-title">ЖК Солнечный город</div>
            </div>

            <div class="portfolio-gallery">
                <ul class="portfolio-gallery__list">
                    <li class="portfolio-gallery__item" data-fancybox="portfolio-gallery__images" data-src="img/example/01.jpg">
                        <img src="img/example/01.jpg" alt="">
                    </li>
                    <li class="portfolio-gallery__item" data-fancybox="portfolio-gallery__images" data-src="img/example/02.jpg">
                        <img src="img/example/02.jpg" alt="">
                    </li>
                    <li class="portfolio-gallery__item" data-fancybox="portfolio-gallery__images" data-src="img/example/03.jpg">
                        <img src="img/example/03.jpg" alt="">
                    </li>
                    <li class="portfolio-gallery__item" data-fancybox="portfolio-gallery__images" data-src="img/example/04.jpg">
                        <img src="img/example/04.jpg" alt="">
                    </li>
                    <li class="portfolio-gallery__item" data-fancybox="portfolio-gallery__images" data-src="img/example/05.jpg">
                        <img src="img/example/05.jpg" alt="">
                    </li>
                    <li class="portfolio-gallery__item" data-fancybox="portfolio-gallery__images" data-src="img/example/06.jpg">
                        <img src="img/example/06.jpg" alt="">
                    </li>
                    <li class="portfolio-gallery__item" data-fancybox="portfolio-gallery__images" data-src="img/example/07.jpg">
                        <img src="img/example/07.jpg" alt="">
                    </li>
                    <li class="portfolio-gallery__item" data-fancybox="portfolio-gallery__images" data-src="img/example/08.jpg">
                        <img src="img/example/08.jpg" alt="">
                    </li>
                    <li class="portfolio-gallery__item" data-fancybox="portfolio-gallery__images" data-src="img/example/08.jpg">
                        <img src="img/example/08.jpeg" alt="">
                    </li>
                </ul>
            </div>

            <div class="portfolio-content">
                <div class="portfolio-content__description">
                    <div class="portfolio-content__text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>

                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum.
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>

                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum.
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>

                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum.
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>

                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum.
                        </p>
                    </div>
                </div>

                <ul class="portfolio-price">
                    <li class="portfolio-price__item">
                        <div class="portfolio-price__label">Стоимость работ</div>
                        <div class="portfolio-price__cost portfolio-price__cost-red">643 000 руб</div>
                    </li>
                    <li class="portfolio-price__item">
                        <div class="portfolio-price__label">Стоимость материалов</div>
                        <div class="portfolio-price__cost">543 000 руб</div>
                    </li>
                </ul>

                <button type="button" class="portfolio-btn btn btn-yellow">Получить расчет своего ремонта</button>
            </div>
        </div>

        <div class="portfolio-wrapper">
            <div class="portfolio-head">
                <h3 class="portfolio-head__title">ЕВРО РЕМОНТ 2-х КОМНАТНОЙ КВАРТИРЫ</h3>
                <div class="portfolio-head__pre-title">ЖК Солнечный город</div>
            </div>

            <div class="portfolio-gallery">
                <ul class="portfolio-gallery__list">
                    <li class="portfolio-gallery__item" data-fancybox="portfolio-gallery__images" data-src="img/example/01.jpg">
                        <img src="img/example/01.jpg" alt="">
                    </li>
                    <li class="portfolio-gallery__item" data-fancybox="portfolio-gallery__images" data-src="img/example/02.jpg">
                        <img src="img/example/02.jpg" alt="">
                    </li>
                    <li class="portfolio-gallery__item" data-fancybox="portfolio-gallery__images" data-src="img/example/03.jpg">
                        <img src="img/example/03.jpg" alt="">
                    </li>
                    <li class="portfolio-gallery__item" data-fancybox="portfolio-gallery__images" data-src="img/example/04.jpg">
                        <img src="img/example/04.jpg" alt="">
                    </li>
                    <li class="portfolio-gallery__item" data-fancybox="portfolio-gallery__images" data-src="img/example/05.jpg">
                        <img src="img/example/05.jpg" alt="">
                    </li>
                    <li class="portfolio-gallery__item" data-fancybox="portfolio-gallery__images" data-src="img/example/06.jpg">
                        <img src="img/example/06.jpg" alt="">
                    </li>
                    <li class="portfolio-gallery__item" data-fancybox="portfolio-gallery__images" data-src="img/example/07.jpg">
                        <img src="img/example/07.jpg" alt="">
                    </li>
                    <li class="portfolio-gallery__item" data-fancybox="portfolio-gallery__images" data-src="img/example/08.jpg">
                        <img src="img/example/08.jpg" alt="">
                    </li>
                    <li class="portfolio-gallery__item" data-fancybox="portfolio-gallery__images" data-src="img/example/08.jpg">
                        <img src="img/example/08.jpeg" alt="">
                    </li>
                </ul>
            </div>

            <div class="portfolio-content">
                <div class="portfolio-content__description">
                    <div class="portfolio-content__text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>

                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum.
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>

                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum.
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>

                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum.
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>

                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum.
                        </p>
                    </div>
                </div>

                <ul class="portfolio-price">
                    <li class="portfolio-price__item">
                        <div class="portfolio-price__label">Стоимость работ</div>
                        <div class="portfolio-price__cost portfolio-price__cost-red">643 000 руб</div>
                    </li>
                    <li class="portfolio-price__item">
                        <div class="portfolio-price__label">Стоимость материалов</div>
                        <div class="portfolio-price__cost">543 000 руб</div>
                    </li>
                </ul>

                <button type="button" class="portfolio-btn btn btn-yellow">Получить расчет своего ремонта</button>
            </div>
        </div>

        <div class="portfolio-wrapper">
            <div class="portfolio-head">
                <h3 class="portfolio-head__title">ЕВРО РЕМОНТ 3-х КОМНАТНОЙ КВАРТИРЫ</h3>
                <div class="portfolio-head__pre-title">ЖК Солнечный город</div>
            </div>

            <div class="portfolio-gallery">
                <ul class="portfolio-gallery__list">
                    <li class="portfolio-gallery__item" data-fancybox="portfolio-gallery__images" data-src="img/example/01.jpg">
                        <img src="img/example/01.jpg" alt="">
                    </li>
                    <li class="portfolio-gallery__item" data-fancybox="portfolio-gallery__images" data-src="img/example/02.jpg">
                        <img src="img/example/02.jpg" alt="">
                    </li>
                    <li class="portfolio-gallery__item" data-fancybox="portfolio-gallery__images" data-src="img/example/03.jpg">
                        <img src="img/example/03.jpg" alt="">
                    </li>
                    <li class="portfolio-gallery__item" data-fancybox="portfolio-gallery__images" data-src="img/example/04.jpg">
                        <img src="img/example/04.jpg" alt="">
                    </li>
                    <li class="portfolio-gallery__item" data-fancybox="portfolio-gallery__images" data-src="img/example/05.jpg">
                        <img src="img/example/05.jpg" alt="">
                    </li>
                    <li class="portfolio-gallery__item" data-fancybox="portfolio-gallery__images" data-src="img/example/06.jpg">
                        <img src="img/example/06.jpg" alt="">
                    </li>
                    <li class="portfolio-gallery__item" data-fancybox="portfolio-gallery__images" data-src="img/example/07.jpg">
                        <img src="img/example/07.jpg" alt="">
                    </li>
                    <li class="portfolio-gallery__item" data-fancybox="portfolio-gallery__images" data-src="img/example/08.jpg">
                        <img src="img/example/08.jpg" alt="">
                    </li>
                    <li class="portfolio-gallery__item" data-fancybox="portfolio-gallery__images" data-src="img/example/08.jpg">
                        <img src="img/example/08.jpeg" alt="">
                    </li>
                </ul>
            </div>

            <div class="portfolio-content">
                <div class="portfolio-content__description">
                    <div class="portfolio-content__text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>

                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum.
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>

                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum.
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>

                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum.
                        </p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>

                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum.
                        </p>
                    </div>
                </div>

                <ul class="portfolio-price">
                    <li class="portfolio-price__item">
                        <div class="portfolio-price__label">Стоимость работ</div>
                        <div class="portfolio-price__cost portfolio-price__cost-red">643 000 руб</div>
                    </li>
                    <li class="portfolio-price__item">
                        <div class="portfolio-price__label">Стоимость материалов</div>
                        <div class="portfolio-price__cost">543 000 руб</div>
                    </li>
                </ul>

                <button type="button" class="portfolio-btn btn btn-yellow">Получить расчет своего ремонта</button>
            </div>
        </div>
    </div>
</section>

<section class="get-estimate" id="six">
    <div class="get-estimate-container container">
        <div class="get-estimate-wrap">
            <form action="/" class="get-estimate-form call-technologist-form call-form">
                <h2 class="call-form__title">
                    Получите расчет сметы
                </h2>
                <div class="call-form__text">
                    с&nbsp;учетом стоимости работ и&nbsp;материалов через 30&nbsp;минут
                </div>

                <div class="form-group call-form__group">
                    <label class="sr-only" for="call-form__name2">Ваше имя</label>
                    <svg class="call-form__icon">
                        <use xlink:href="img/icons.svg#user"></use>
                    </svg>
                    <input type="text" class="call-form__field form-control hide-placeholder" id="call-form__name2" placeholder="Ваше имя">
                </div>

                <div class="form-group call-form__group">
                    <label class="sr-only" for="call-form__tel2">Контактный телефон*</label>
                    <svg class="call-form__icon">
                        <use xlink:href="img/icons.svg#phone"></use>
                    </svg>
                    <input type="tel" class="call-form__field form-control hide-placeholder"  id="call-form__tel2" placeholder="Контактный телефон*">
                </div>

                <button type="submit" class="call-form__btn btn btn-yellow">Получить расчет сметы</button>

                <div class="call-form__terms">
                    Нажимая кнопку, вы даете согласие на обработку<br>
                    персональных данных
                </div>
            </form>
        </div>
    </div>
</section>

<div class="scroll-to-top">
    <svg class="scroll-to-top__icon">
        <use xlink:href="img/icons.svg#arrow"></use>
    </svg>
</div>

@@include('./includes/footer.html')