<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Ремонт квартир в Москве и Подмосковье</title>

    <link rel="stylesheet" href="css/lib.min.css?ver=2">
    <link rel="stylesheet" href="css/styles.min.css?ver=2">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png?v=NmbNwk2o4n">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v=NmbNwk2o4n">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v=NmbNwk2o4n">
    <link rel="manifest" href="/favicon/site.webmanifest?v=NmbNwk2o4n">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg?v=NmbNwk2o4n" color="#ed1c25">
    <link rel="shortcut icon" href="/favicon/favicon.ico?v=NmbNwk2o4n">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml?v=NmbNwk2o4n">
    <meta name="theme-color" content="#ffffff">
</head>
<body data-spy="scroll" data-target="#navbar" data-offset="20" id="home">

<header class="header">
    <div class="header__inner container">
        <div class="header-logo logo">
            <a href="#home"><img src="img/logo.svg" alt="алмонд"></a>
        </div>
        <div class="header-mob">
            <div class="header-mob__head">ремонт КВАРТИР</div>
            <div class="header-mob__text">в Москве и подмосковье</div>
        </div>
        <div class="header-info">
            <div class="header-support__left">
                Ремонт квартир в Москве и Подмосковье
            </div>

            <button type="button" class="menu-toggle">Меню</button>

            <div class="header-support__right">
                <a href="tel:84953088322" rel="nofollow" class="header-phone phone-block">
                    <svg class="phone-block-icon">
                        <use xlink:href="img/icons.svg#phone"></use>
                    </svg>
                    8 (495) 308-83-22
                </a>
                <button type="button" class="header-request btn-outline btn">Заказать обратный звонок</button>
            </div>
        </div>
    </div>
</header>


<nav class="nav-menu">
    <div class="nav-menu__inner container">
        <ul class="menu list-unstyled" id="navbar" style="padding-left: 155px">
            <li class="menu-item nav-item"><a href="#home" class="menu-link nav-link active">Главная</a></li>
            <li class="menu-item nav-item"><a href="#two" class="menu-link nav-link">Ремонт квартиры</a></li>
            <li class="menu-item nav-item"><a href="#three" class="menu-link nav-link">Ремонт под ключ</a></li>
            <li class="menu-item nav-item"><a href="#fourth" class="menu-link nav-link">Ремонт новостройки</a></li>
            <li class="menu-item nav-item"><a href="#fifth" class="menu-link nav-link">Наши работы</a></li>
            <li class="menu-item nav-item"><a href="#masters" class="menu-link nav-link">Наши мастера</a></li>
            <li class="menu-item nav-item"><a href="#six" class="menu-link nav-link">Вопросы</a></li>
            <li class="menu-item nav-item"><a href="#" class="menu-link nav-link">Стоимость</a></li>
        </ul>
    </div>
</nav>


<section class="main-section">
    <div class="main-section-inner container">
        <h1 class="main-section-title">
            ремонт
            <span class="main-section-title__text">квартир</span>
        </h1>
        <div class="main-section-price">
            <div class="main-section-price__text">
                всего<br>
                за
            </div>
            <img src="img/cost-4800.png" class="main-section-price__cost" alt="цена от 4800">
        </div>
        <div class="main-section-paint">
            Начните ремонт<br>
            без предоплат и авансов!
        </div>
        <button class="btn btn-main btn-red">Рассчитать стоимость ремонта</button>
    </div>
</section>


@@include('./includes/other.html')

<div class="social">
    <a href="https://api.whatsapp.com/send?phone=79031173754" class="social-point whatsapp" rel="nofollow" target="_blank"></a>
    <a href="tg://resolve?domain=alexlenk" st="link-support-telegram" title="@alexlenk" class="social-point telegram" rel="nofollow" target="_blank"></a>
</div>

<div class="scroll-to-top">
    <svg class="scroll-to-top__icon">
        <use xlink:href="img/icons.svg#arrow"></use>
    </svg>
</div>


<div class="header-stick"></div>


<script src="js/lib.min.js?ver=1.9"></script>
<script src="js/scripts.min.js?ver=2.2"></script>
</body>
</html>