@@include('./includes/header.html')

<header class="header">
    <div class="header__inner container">
        <div class="logo">
            <a href="#"><img src="img/logo.svg" alt="алмонд"></a>
        </div>
        <div class="header-info">
            <div class="header-support">
                <a href="#" class="header-support__item btn-whats-app">
                    <svg class="btn-whats-app__icon">
                        <use xlink:href="img/icons.svg#whatsapp"></use>
                    </svg>
                    whatsApp
                </a>
                <a href="#" class="header-support__item btn-vk">
                    <svg class="btn-vk__icon">
                        <use xlink:href="img/icons.svg#vk"></use>
                    </svg>
                    В контакте
                </a>
                <a href="#" class="header-support__write-us">Напишите нам</a>
            </div>

            <div class="header-info__contacts">
                <a href="#" class="header-phone">
                    <svg class="header-phone__icon">
                        <use xlink:href="img/icons.svg#phone"></use>
                    </svg>
                    8 (495) 999 99 99
                </a>
                <button class="btn-outline btn">Заказать обратный звонок</button>
            </div>

            <ul class="menu list-unstyled">
                <li class="menu-item"><a href="#" class="menu-link menu-link__active">Главная</a></li>
                <li class="menu-item"><a href="#" class="menu-link">Ремонт квартиры</a></li>
                <li class="menu-item"><a href="#" class="menu-link">Ремонт под ключ</a></li>
                <li class="menu-item"><a href="#" class="menu-link">Ремонт новостройки</a></li>
                <li class="menu-item"><a href="#" class="menu-link">Наши работы</a></li>
                <li class="menu-item"><a href="#" class="menu-link">Вопросы</a></li>
                <li class="menu-item"><a href="#" class="menu-link">Стоимость</a></li>
                <li class="menu-item"><a href="#" class="menu-link menu-calc">
                    <svg class="menu-calc__icon">
                        <use xlink:href="img/icons.svg#calc"></use>
                    </svg>
                    Калькулятор</a>
                </li>
            </ul>
        </div>
    </div>
</header>



@@include('./includes/footer.html')