.autonomy {
  padding-top: 35px;
  padding-bottom: 28px;
  color: #fff;
  background: url(../img/bg/bg-small-advantage.jpg) no-repeat center;
}

.autonomy-title {
  margin-bottom: 27px;
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.autonomy-list {
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.autonomy-item {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
  display: flex;
  align-items: center;

  &::before {
    margin-right: 10px;
  }
}
