.call-form {
  max-width: 365px;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #fff;
  border-radius: 6px;
  outline: 1px solid #508dc5;
  outline-offset: -9px;
}

.call-form__title {
  margin-bottom: 4px;

  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-family: $font-family-head;
}

.call-form__text {
  text-align: center;
  line-height: 19px;
}

.call-form__group {
  position: relative;
}

.call-form__icon {
  fill: #a8a8a8;
  position: absolute;
}

.call-form__field:focus {
  box-shadow: none;
}

.call-form__terms {
  font-size: 9px;
  text-align: center;
  line-height: 1.4;
}

@media (min-width: 576px) {
  .call-form {
    padding-top: 24px;
    padding-bottom: 24px;
    box-shadow: 0 0 16px rgba(#dcddde, .75);
  }
  .call-form__title {
    font-size: 18px;
  }
  .call-form__text {
    margin-bottom: 16px;
    font-size: 14px;
  }
  .call-form__field {
    padding-left: 50px;
  }
  .call-form__icon {
    width: 23px;
    height: 23px;
    top: 12px;
    left: 15px;
  }
  .call-form__btn {
    margin-top: 11px;
  }
  .call-form__terms {
    margin-top: 22px;
  }
}

@media (max-width: 575px) {
  .call-form {
    padding-top: 22px;
    padding-bottom: 26px;
  }
  .call-form__title {
    line-height: 30px;
  }
  .call-form__text {
    margin-bottom: 15px;
  }

  .call-form__field {
    padding-left: 45px;
  }

  .call-form__icon {
    width: 28px;
    height: 26px;
    top: 15px;
    left: 10px;
  }

  .call-form__btn {
    margin-top: 5px;
  }

  .call-form__terms {
    margin-top: 23px;
  }
}
