.convenience-payment {
  padding-top: 29px;
  padding-bottom: 29px;
  border-top: 30px solid #fff;
  background: url(../img/bg/convenience-payment.jpg) center center / cover no-repeat;
}

.convenience-payment-inner {
  padding: 18px 60px 14px;
  position: relative;
  background-color: #fff;
  border-width: 10px;
  border-style: solid;
  border-color: $yellowColor;
  border-image: initial;
}

.convenience-payment-title {
  margin-bottom: 8px;
}

.convenience-payment-list {
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.convenience-payment-item {
  max-width: 33%;
  flex-basis: 33%;
  list-style: none;
}

.convenience-payment-item__title {
  margin-bottom: 12px;
  font-weight: 700;
  color: $blueColor;
  font-size: 17px;
  line-height: 1.4;
  display: flex;
  align-items: center;
}

.convenience-payment-icon {
  width: 43px;
  height: 43px;
  margin-right: 17px;
}

.convenience-payment-item__text {
  font-weight: 300;
  font-size: 14px;
}
