.header {
  height: 516px;
  padding-top: 27px;
  position: relative;
  background: url(../img/bg/bg-header.jpg) no-repeat top center;

  &::before {
    width: 313px;
    height: 395px;
    background: url(../img/decor/master.png) no-repeat center;
    position: absolute;
    right: 11%;
    bottom: 4%;
    content: '';
  }
}

.header-title {
  margin-bottom: 38px;
}

.header-title__price {
  font-weight: 900;
  position: relative;

  &::before {
    width: 185px;
    height: 51px;
    position: absolute;
    top: -4px;
    left: -6px;
    background: url(../img/decor/mazok.png) no-repeat;
    content: '';
  }
}

.header-title__price-val {
  position: relative;
  z-index: 1;
}

.header-text {
  margin-bottom: 32px;
  font-size: 18px;
}

.header-list {
  font-size: 12px;
}
