.header {
  height: 471px;
  color: #333;
  background: url(../img/bg/main-bg.jpg) no-repeat center #b4b5b5;
}

.header__inner {
  height: 100%;
  display: flex;

  &::before {
    width: 317px;
    height: 452px;
    margin-left: 25px;
    margin-right: 54px;
    background: url(../img/decor/gurl.png) no-repeat center;
    align-self: flex-end;
    content: '';
  }

  &::after {
    width: 154px;
    height: 298px;
    margin-bottom: 36px;
    background: url(../img/decor/airpods.png) no-repeat center;
    align-self: flex-end;
    content: '';
  }
}

.header-content {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 53px;
  text-align: center;
  order: 1;
  align-self: flex-end;
}

.header-title {
  font-weight: 700;
  font-size: 43px;
  line-height: 1.2;
}

.header-title__text {
  margin-bottom: 4px;
  font-size: 27px;
  font-weight: 500;
  display: block;
}

.header-pre-title {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 300;
}

.header-price__old {
  margin-bottom: 5px;
  font-weight: 300;
}

.header-price__new {
  margin-bottom: 41px;
  font-weight: 700;
  line-height: 1;
  display: flex;
  justify-content: center;
}

.header-price__new-discount {
  margin-right: 10px;
  font-size: 20px;
  color: #000;
  align-self: flex-end;
}
.header-price__new-cost {
  font-size: 43px;
  color: $orangeColor;
  letter-spacing: -2px;
}
