.main-section {
  font-family: $font-family-head;
  background: url(../img/bg/bg-header.jpg) no-repeat bottom center #f8d3ae;
}

.main-section-inner {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  &::after {
    width: 563px;
    height: 515px;
    bottom: 0;
    right: 6%;
    position: absolute;
    background: url(../img/decor/couple-2.png) no-repeat center bottom;
    background-size: contain;
    content: ''
  }
}

.main-section-title {
  margin-bottom: 8px;
  font-size: 106px;
  line-height: 103px;
  letter-spacing: 1px;
  font-weight: 900;
  text-transform: uppercase;
}

.main-section-title__text {
  display: block;
}

.main-section-price {
  margin-bottom: 44px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.main-section-price__text {
  text-align: right;
  font-weight: 700;
}

.main-section-paint {
  padding: 19px 0;
  margin-bottom: 35px;
  height: 87px;
  margin-left: 39px;
  width: 359px;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  background: url(../img/bg/bg-paint.png) center left no-repeat;
  background-size: contain;
}

@media (min-width: 576px) {
  .main-section {
    height: 565px;
  }
}

@media (min-width: 767px) {
  .main-section-title {
    font-size: 64px;
    line-height: 60px;
  }
  .main-section-title__text {
    margin-left: 194px;
    font-size: 54px;
  }
  .main-section-price__text {
      margin-right: 19px;
    font-size: 36px;
    line-height: 1;
  }
}

@media (max-width: 766px) {
  .main-section-title {
    font-size: 37px;
    line-height: 30px;
    margin-right: auto;
    margin-left: auto;
  }
  .main-section-title__text {
    margin-left: 75px;
    font-size: 31px;
  }
  .main-section-price {
    margin-right: auto;
    margin-left: auto;
  }
  .main-section-price__cost {
    width: 155px;
  }
  .main-section-price__text {
    font-size: 20px;
    line-height: 20px;
    margin-right: 2px;
  }
  .main-section-paint {
    font-size: 18px;
  }
}

@media (max-width: 575px) {
  .main-section {
    padding-top: 7px;
    padding-bottom: 10px;
    background-size: cover;
  }

  .main-section-inner {
    &::after {
      width: 305px;
      height: 280px;
      bottom: -10px;
    }
  }

  .main-section-paint {
    background-size: 100%;
  }
}

@media (min-width: 766px) and(max-width: 991px) {
  .main-section {
    background-position: 50% 0;
    background-size: cover;
  }
}
