.fancybox-is-open .fancybox-bg {
  opacity: .6;
}

.modal-view {
  width: 100%;
  display: none;
  overflow: visible;
}

.modal-view-inner {
  height: 100%;
  text-align: center;
}

.modal-view__price-old {
  font-weight: 300;
}

.modal-view__price {
  font-weight: 700;
}

.modal-view__price-cost {
  color: #ff6000;
}

.modal-view__order {
  display: flex;
  flex-direction: column;
}

.modal-view-title,
.modal-view-pre-title {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

.modal-view-title {
  margin-bottom: 8px;
  color: $orangeColor;
}

.modal-view-form__group {
  margin-bottom: 20px;
  position: relative;
}

.modal-view-form__icon {
  width: 25px;
  height: 25px;
  fill: #a8a8a8;
  left: 19px;
  position: absolute;
}

.modal-view-form__field {
  height: 71px;
  padding-left: 47px;
  border: 1px solid #ff5f00;
  box-shadow: none;
  border-radius: 35px;
}

.modal-view-form__button {
  margin-top: 17px;
  margin-bottom: 23px;
  background: rgb(253, 191, 15);
  background: -moz-linear-gradient(top, rgba(253, 191, 15, 1) 0%, rgba(241, 97, 40, 1) 62%, rgba(243, 117, 40, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(253, 191, 15, 1) 0%, rgba(241, 97, 40, 1) 62%, rgba(243, 117, 40, 1) 100%);
  background: linear-gradient(to bottom, rgba(253, 191, 15, 1) 0%, rgba(241, 97, 40, 1) 62%, rgba(243, 117, 40, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdbf0f', endColorstr='#f37528', GradientType=0);
  box-shadow: 2px 3px 0 #c5501f;
}

.modal-view-form__lock {
  font-size: 10px;
  font-weight: 300;

  &::before {
    margin-top: -4px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
  }
}

.modal-view-string {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.4;
}

.modal-view-string-text {
  position: relative;
}

.modal-view-data {
  font-weight: 500;
  line-height: 1.4;
}

.modal-view-close {
  position: absolute;
}

.modal-view-final {
  display: none;
  padding-top: 48px;
  text-align: center;
  color: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  position: absolute;
  background: rgb(35, 56, 92);
  background: -moz-linear-gradient(left, rgba(35, 56, 92, 1) 0%, rgba(62, 88, 130, 1) 50%, rgba(35, 56, 92, 1) 100%);
  background: -webkit-linear-gradient(left, rgba(35, 56, 92, 1) 0%, rgba(62, 88, 130, 1) 50%, rgba(35, 56, 92, 1) 100%);
  background: linear-gradient(to right, rgba(35, 56, 92, 1) 0%, rgba(62, 88, 130, 1) 50%, rgba(35, 56, 92, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#47576e', endColorstr='#47576e', GradientType=1);
}

.modal-view-final__icon {
  width: 212px;
  height: 174px;
  margin-bottom: 30px;
  fill: $orangeColor;
}

.modal-view-final__title {
  margin-bottom: 65px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.4;
}

.modal-view-final__title-lg {
  font-size: 45px;
}

.modal-view-final__title-md {
  font-size: 36px;
}

.modal-view-final__text {
  font-size: 20px;
  font-weight: 500;
}

@media (min-width: 576px) {
  .modal-view {
    max-width: 857px;
    height: 578px;
    padding: 47px 44px 33px;
    border-radius: 5px;
    box-shadow: 0 0 13px 0 rgba(136, 136, 136, 0.37);
  }
  .modal-view-inner {
    display: flex;
  }
  .modal-view__info {
    padding-top: 38px;
    max-width: 50%;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;

    img {
      margin: auto 25px auto 0;
    }
  }
  .modal-view__order {
    max-width: 50%;
    flex-basis: 50%;
  }

  .modal-view__price-old {
    margin-top: 34px;
    margin-bottom: 0;
  }
  .modal-view__price {
    margin-bottom: 24px;
    font-size: 20px;
  }

  .modal-view__price-cost {
    font-size: 43px;
    margin-left: 7px
  }
  .modal-view-title {
    font-size: 36px;
  }
  .modal-view-pre-title {
    font-size: 27px;
    margin-bottom: 16px;
  }
  .modal-view-string-text {
    left: -15px;
  }
  .modal-view-text {
    font-size: 18px;
  }
  .modal-view__price-old {
    margin-bottom: 10px;
  }
  .modal-view__price {
    margin-bottom: 28px;
  }
  .modal-view-form {
    width: 86%;
    height: inherit;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
  }
  .modal-view-form__field {
    height: 71px;
    border-width: 2px;
  }
  .modal-view-form__icon {
    top: 24px;
  }
  .modal-view-close {
    top: -57px;
    right: -57px;
  }
  .modal-view-close__icon {
    width: 58px;
    height: 58px;
    fill: #fff;
  }
  .modal-view-string {
    font-size: 24px;
  }
  .modal-view-data {
    font-size: 22px;
  }
  .modal-view-form__button {
    height: 69px;
  }
}

@media (max-width: 575px) {
  .fancybox-slide--html {
    padding: 15px;
  }
  .modal-view {
    padding: 10% 15px;
    color: #fff;
    background: rgb(32, 52, 87);
    background: -moz-linear-gradient(left, rgba(32, 52, 87, 1) 0%, rgba(62, 88, 130, 1) 50%, rgba(32, 52, 87, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(32, 52, 87, 1) 0%, rgba(62, 88, 130, 1) 50%, rgba(32, 52, 87, 1) 100%);
    background: linear-gradient(to right, rgba(32, 52, 87, 1) 0%, rgba(62, 88, 130, 1) 50%, rgba(32, 52, 87, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#203457', endColorstr='#203457', GradientType=1);
  }
  .modal-view__order {
    height: inherit;
    justify-content: center;
  }
  .modal-view-title {
    font-size: 26px;
    color: #fff;
  }
  .modal-view-pre-title {
    margin-bottom: 21px;
    font-size: 20px;
  }
  .modal-view-text {
    margin-bottom: 23px;
    font-size: 14px;
  }
  .modal-view__price-old {
    font-size: 13px;
  }
  .modal-view__price {
    line-height: 1.1;
    margin-bottom: 22px;
    font-size: 14px;
  }
  .modal-view__price-cost {
    font-size: 26px;
  }
  .modal-view-form__field {
    height: 53px;
  }
  .modal-view-form__icon {
    top: 13px;
  }
  .modal-view-form__button {
    width: 100%;
  }
  .modal-view-close {
    width: 65px;
    height: 65px;
    top: 0;
    right: 0;

    &::after,
    &::before {
      width: 33px;
      height: 5px;
      top: 24px;
      left: 20px;
      display: block;
      position: absolute;
      background-color: #ff6000;
      transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
      will-change: transform, box-shadow;
      content: "";
    }

    &::before {
      transform: rotate(-45deg);
      box-shadow: none;
    }

    &::after {
      transform: translateX(0) rotate(-135deg);
    }
  }
  .modal-view-close__icon {
    display: none;
  }
  .modal-view-string {
    font-size: 16px;
  }
  .modal-view-data {
    margin-bottom: 20px;
    font-size: 16px;
  }
}

@media (max-width: 374px) {
  .modal-view-string {
    font-size: 16px;
  }
}
