.nav-bar {
  color: $gray-900;
}

.nav-bar-stick {
  height: inherit;

  &::after {
    width: 100%;
    height: 1px;
    display: block;
    content: '';
  }
}

.nav-bar-section {
  height: inherit;
  display: flex;
  flex-wrap: wrap;
}

.logo {
  color: inherit;
  line-height: 1;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;

  &:hover {
    color: inherit;
  }
}

.logo-icon {
  margin-left: -2px;
}

.logo-name {
  margin-left: 7px;
  margin-right: 9px;
  font-size: 35px;
  font-weight: 600;
  align-self: flex-end;
}

.logo-discount {
  font-weight: 300;
  position: relative;
  background-color: $orangeColor;
  color: #fff;

  &::before {
    top: 100%;
    left: 0;
    position: absolute;
    border: 6px solid transparent;
    border-top-color: $orangeColor;
    border-left-color: $orangeColor;
    content: '';
  }
}

.logo-signature {
  width: 100%;
  font-weight: 500;
}

.menu {
  line-height: 1;
}

.menu-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.phone-call-box {
  color: inherit;
  font-weight: 600;
  line-height: 1;
  font-size: 23px;
  transition: color .3s ease-out;
}

.phone-call-text {
  font-weight: 400;
  font-size: 12px;
  text-align: right;
  line-height: 1;
}

.call-back {
  display: none
}

.menu-toggle {
  width: 29px;
  height: 28px;
  margin-left: auto;
  padding: 0;
  border: 0;
  z-index: 30;
  position: relative;
  background-color: transparent;
  transition: 0.2s ease-in-out;
  align-self: center;

  &:focus {
    outline: 0;
  }

  &::before,
  &::after {
    width: 29px;
    height: 4px;
    top: 8px;
    left: 0;
    display: block;
    position: absolute;
    background-color: $orangeColor;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    will-change: transform, box-shadow;
    content: "";
  }

  &::before {
    box-shadow: 0 9px $orangeColor, 0 -9px $orangeColor;
  }
}

.menu-opened__layer {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: rgba(#000, .4);
}

.menu-opened {
  overflow: hidden;

  .header-call {
    opacity: 0;
  }

  .header-call__panel {
    display: block !important;

    .header-call {
      opacity: 1;
    }
  }

  .menu-mob {
    opacity: 1;
    transform: translateX(0);
  }

  .menu-toggle {
    &::before {
      transform: rotate(-45deg);
      box-shadow: none;
    }

    &::after {
      transform: translateX(0) rotate(-135deg);
    }
  }

  .menu-opened__layer {
    display: block;
  }
}

@media (min-width: 576px) {
  .nav-bar-stick {
    width: 100vw;
    padding-right: 15px;
    position: fixed;
    top: 0;
    z-index: 110;
  }
  .phone-call-text {
    letter-spacing: -0.02rem;
  }
  .phone-call-box__icon {
    width: 24px;
    height: 24px;
    fill: $gray-900;
  }
}

@media (min-width: 768px) {
  .nav-bar {
    height: 88px;
  }
  .nav-bar-stick {
    background-color: #fff;
    border-bottom: 1px solid #ededee;
  }
  .menu-toggle {
    display: none;
  }
  .menu {
    max-width: 332px;
    flex-basis: 332px;
  }
  .menu-list {
    display: flex;
    justify-content: space-between;
  }
  .menu-item {
    padding-top: 42px;
  }
  .menu-link {
    font-size: 14px;
    color: $blueColor;
    font-weight: 500;
    position: relative;
    transition: color .3s ease-out;

    &::after {
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: -9px;
      left: 0;
      content: '';
    }

    &.active::after {
      background-color: #ff8a44;
    }
  }
  .phone-call {
    align-self: center;
    padding-left: 5px;
  }
}

@media (min-width: 992px) {
  .nav-bar-section {
    padding-top: 10px;
  }
  .logo {
    width: 280px;
  }
  .logo-icon {
    width: 41px;
    height: 41px;
  }
  .logo-name {
    font-size: 35px;
  }
  .logo-discount {
    padding: 6px 10px;
    font-size: 14px;
    align-self: flex-start;
  }
  .logo-signature {
    padding-top: 4px;
  }
}

@media (min-width: 1100px) {
  .call-back {
    padding: 11px 15px;
    margin-left: auto;
    font-size: 14px;
    line-height: 1;
    color: #fff;
    background-color: #3e5882;
    border-radius: 18px;
    align-self: center;
    cursor: pointer;
    display: block;
    transition: background-color .3s ease-out, color .3s ease-out;

    &:hover {
      background-color: $orangeColor;
    }
  }

  .phone-call-box:hover .phone-call-box__icon {
    fill: #ff8a44;
  }
  .phone-call-box__icon {
    transition: fill .3s ease-out;
  }
}

@media (max-width: 991px) {
  .nav-bar-section {
    padding-top: 13px;
  }
  .logo {
    width: 245px;
  }
  .logo-icon {
    width: 29px;
    height: 34px;
  }
  .logo-name {
    font-size: 24px;
  }
  .logo-discount {
    padding: 3px 13px 3px 10px;
    font-size: 18px;
    align-self: flex-end;
  }
  .logo-signature {
    font-size: 12px;
    padding-top: 2px;
  }
}

@media (max-width: 767px) {
  .nav-bar-stick {
    background-color: #252a34;
    border-bottom: 2px solid $orangeColor;
    color: #Fff;
  }

  .logo-icon {
    fill: #fff;
  }
  .logo-signature span {
    display: none;
  }
  .menu {
    display: none;
  }
  .menu-item {
    border-top: 1px solid #aaa;

    &:last-child {
      border-bottom: 1px solid #aaa;
    }
  }
  .menu-link {
    padding-top: 17px;
    padding-bottom: 17px;
    display: block;
    font-size: 20px;
    color: #000;
    position: relative;

    &::after {
      border-right: 1px solid #ff6000;
      border-bottom: 1px solid #ff6000;
      position: absolute;
      width: 18px;
      height: 18px;
      top: 19px;
      right: 10px;
      transform: rotate(-45deg);
      content: '';
    }
  }
  .phone-call-box__icon {
    fill: #fff;
  }
  .phone-call-text {
    display: none;
  }
}

@media (max-width: 575px) {
  .nav-bar {
    height: 122px;
  }
  .nav-bar-section {
    padding-bottom: 13px;
  }
  .phone-call {
    width: 100%;
    margin-top: 11px;
    padding-top: 12px;
    text-align: center;
    border-top: 1px solid #fff;
  }
  .phone-call-box__icon {
    width: 22px;
    height: 22px;
  }
  .menu-toggle {
    position: fixed;
    right: 15px;
    top: 24px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .nav-bar {
    height: 77px;
  }
  .nav-bar-section {
    padding-bottom: 13px;
    align-items: center;
  }
  .menu-toggle {
    order: 1
  }
  .phone-call {
    margin-left: auto
  }
}

@media (min-width: 992px) and (max-width: 1099px) {
  .phone-call {
    margin-left: auto
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .logo {
    width: 217px;
  }
  .logo-discount {
    padding: 3px 7px 3px 7px;
    font-size: 14px;
  }
  .menu {
    margin-left: auto;
    margin-right: auto;
  }
  .phone-call-box {
    font-size: 16px;
  }
  .phone-call-box__icon,
  .phone-call-text {
    display: none;
  }
}
