
.payment-after {
  height: 195px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/bg/bg-line.jpg) no-repeat center;
}

.payment-after-title {
  margin-left: 19px;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  line-height: 1;
  text-transform: uppercase;
}
