.pre-footer {
  height: 553px;
  background: rgb(227, 230, 234);
  background: -moz-linear-gradient(left, rgba(227, 230, 234, 1) 0%, rgba(241, 242, 244, 1) 50%, rgba(227, 230, 234, 1) 100%);
  background: -webkit-linear-gradient(left, rgba(227, 230, 234, 1) 0%, rgba(241, 242, 244, 1) 50%, rgba(227, 230, 234, 1) 100%);
  background: linear-gradient(to right, rgba(227, 230, 234, 1) 0%, rgba(241, 242, 244, 1) 50%, rgba(227, 230, 234, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3e6ea', endColorstr='#e3e6ea', GradientType=1);
}

.pre-footer__inner {
  height: 100%;
  display: flex;

  &::before {
    width: 317px;
    height: 450px;
    margin-left: 25px;
    margin-right: 37px;
    background: url(../img/decor/gurl.png) no-repeat center;
    align-self: flex-end;
    content: '';
  }

  &::after {
    width: 154px;
    height: 298px;
    margin-right: 40px;
    margin-bottom: 36px;
    background: url(../img/product/airpods.png) no-repeat center;
    align-self: flex-end;
    content: '';
  }

  .call-form {
    order: 1;
    align-self: center;
  }

  .choose-card__price-old {
    text-align: center;
    margin-bottom: 0;
    font-size: 16px;
  }

  .call-form__price {
    margin-bottom: 12px;
  }
}
