.presentation {
  padding-top: 18px;
  padding-bottom: 21px;
  display: flex;
  flex-wrap: wrap;

  &::after {
    width: 147px;
    height: 149px;
    order: 2;
    background: url(../img/mob/img-02.png) no-repeat center;
  }

  &:before {
    order: 1;
    background: url(../img/mob/img-01.png) no-repeat center;
  }

  &::after,
  &:before {
    background-size: contain;
    content: '';
  }
}

.presentation-title {
  width: 100%;
  margin-bottom: 15px;
  font-size: 24px;
  color: $blueColor;
  text-align: center;
  line-height: 1.1;
}

.presentation-text {
  width: 100%;
  //font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
}

.presentation-list {
  width: 100%;
  font-size: 14px;
  order: 3;
  counter-reset: myCounter;
}

.presentation-item {
  @include clearfix;

  &::before {
    counter-increment: myCounter;
    content: counter(myCounter);
    float: left;
    text-align: center;
    font-weight: 300;
    border-radius: 50%;
    border: 1px solid $orangeColor;
  }
}

@media (min-width: 576px) {
  .presentation {
    padding-top: 32px;
  }
  .presentation-list {
    margin-left: auto;
    padding-top: 26px;
  }
  .presentation-item {
    line-height: 1.2;

    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }
}

@media (min-width: 768px) {
  .presentation-title {
    font-size: 45px;
  }
  .presentation-text {
    font-size: 24px;
  }
  .presentation-list {
    font-size: 24px;
  }
  .presentation-item::before {
    width: 48px;
    height: 48px;
    margin-right: 30px;
    margin-top: 5px;
    line-height: 48px;
    font-size: 31px;
  }
  .presentation {
    &:before {
      width: 154px;
      height: 185px;
      background-image: url(../img/product/airpods-01.png);
    }

    &::after {
      display: none;
    }
  }
}

@media (min-width: 992px) {
  .presentation::before {
    margin-left: 15%;
  }
  .presentation-list {
    max-width: 62%;
  }
}

@media (max-width: 767px) {
  .presentation::before {
    width: 124px;
    height: 157px;
  }
  .presentation-item::before {
    width: 35px;
    height: 35px;
    margin-right: 11px;
    margin-top: 2px;
    line-height: 33px;
    font-size: 22px;
  }
}

@media (max-width: 575px) {
  .presentation {
    &::before {
      margin-left: 34px;
      margin-right: 6px;
    }

    &::after {
      margin-top: 27px;
    }
  }
  .presentation-title {
    margin-bottom: 16px;
  }
  .presentation-list {
    margin-top: -12px;
    padding-left: 7px;
  }
  .presentation-item:first-child {
    margin-bottom: 20px;
  }
}


@media (min-width: 576px) and (max-width: 991px) {
  .presentation-list {
    max-width: 75%;
    margin-left: auto;
  }
}
