.questions {
  color: #fff;
  background: rgb(71, 87, 110);
  background: -moz-linear-gradient(left, rgba(71, 87, 110, 1) 0%, rgba(101, 119, 141, 1) 50%, rgba(71, 87, 110, 1) 100%);
  background: -webkit-linear-gradient(left, rgba(71, 87, 110, 1) 0%, rgba(101, 119, 141, 1) 50%, rgba(71, 87, 110, 1) 100%);
  background: linear-gradient(to right, rgba(71, 87, 110, 1) 0%, rgba(101, 119, 141, 1) 50%, rgba(71, 87, 110, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#47576e', endColorstr='#47576e', GradientType=1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.questions-title {
  margin-bottom: 0;
  text-transform: uppercase;
}

.questions-go {
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  cursor: pointer;
}

@media (min-width: 768px) {
  .questions {
    height: 195px;
  }
  .questions-title {
    margin-left: 19px;
    margin-right: 12px;
    line-height: 1;
  }
  .questions-go {
    font-size: 24px;
    border-bottom: 1px solid;
  }
}

@media (max-width: 767px) {
  .questions {
    padding-top: 30px;
    padding-bottom: 30px;

    .sprite-question {
      min-width:255px;
      @include clearfix;

      &::before {
        margin-right: 15px;
        float: left;
      }
    }
  }
  .questions-title {
    font-size: 16px;
  }
  .questions-go {
    text-decoration: underline;
  }
}