.reviews {
  padding-top: 30px;
  padding-bottom: 46px;
  background-color: #edf1f7;
}

.reviews-container {
  max-width: 1157px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.reviews-title {
  margin-bottom: 5px;
  line-height: 1;
  text-align: center;
}

.reviews-text {
  margin-bottom: 30px;
  line-height: 1.2;
  text-align: center;
  font-size: 24px;
}

.video-reviews {
  margin: 0 -8px 20px;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.video-reviews-item {
  width: calc(100% / 3);
  margin-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
}

.video-reviews-item__inner {
  border: 6px solid #000;
  cursor: pointer;
  position: relative;
  transition: border .4s ease-out;

  &::after,
  &::before {
    top: 50%;
    left: 50%;
    position: absolute;
    content: '';
  }

  &::before {
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
    background: #fff;
    display: block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 10px #c8c8c8;
    animation: animatePlay 1.5s linear infinite;
  }

  &::after {
    margin-top: -9px;
    margin-left: -6px;
    border-top: 10px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 19px solid $orangeColor;
  }

  &:hover {
    border-color: $orangeColor;
  }
}

.video-reviews__signature {
  padding: 4px 56px 5px 12px;
  color: #fff;
  line-height: 1;
  left: 0;
  bottom: 0;
  position: absolute;
  background: -moz-linear-gradient(left, rgba(68, 81, 101, 1) 0%, rgba(68, 81, 101, 1) 50%, rgba(68, 81, 101, 0) 100%);
  background: -webkit-linear-gradient(left, rgba(68, 81, 101, 1) 0%, rgba(68, 81, 101, 1) 50%, rgba(68, 81, 101, 0) 100%);
  background: linear-gradient(to right, rgba(68, 81, 101, 1) 0%, rgba(68, 81, 101, 1) 50%, rgba(68, 81, 101, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#445165', endColorstr='#00445165', GradientType=1);
}

.video-reviews__signature-name {
  font-size: 11px;
  margin-bottom: 3px;
  font-weight: 700;
}

.video-reviews__signature-city {
  font-size: 8px;
  font-weight: 500;
  text-transform: uppercase;
}

.reviews-want {
  margin: 0 auto 70px;
  display: block;
}

.reviews-what {
  margin-bottom: 103px;

  .allinone_carousel .contentHolderUnit {
    width: 285px;
    height: 600px;
  }
}

.reviews-list {
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 1;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reviews-list__item {
  width: 41%;
  margin-bottom: 12px;
  display: flex;
  align-items: center;

  &:nth-child(even) {
    padding-left: 60px;
  }

  &::before {
    margin-right: 10px;
  }
}

.reviews-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &::after {
    width: 185px;
    height: 38px;
    margin: 8px auto 0;
    display: block;
    background: url(../img/decor/arrow.png) no-repeat center;
    content: '';
  }

  .btn-primary {
    width: 443px;
    background-image: url(../img/btn/btn-big.png);
  }
}

.reviews-form__group {
  width: 443px;
  margin-bottom: 0;
  margin-right: 40px;
  position: relative;

  .form-control {
    height: 71px;
    padding-left: 54px;
    border-radius: 35px;
    text-transform: uppercase;
    border: 2px solid $orangeColor;
    box-shadow: none;
  }
}

.reviews-form__icon {
  width: 31px;
  height: 31px;
  fill: #a8a8a8;
  top: 20px;
  left: 25px;
  position: absolute;
}
