.small-advantage {
  padding-top: 32px;
  padding-bottom: 30px;
  //background: url(../img/bg/bg-small-advantage.jpg) no-repeat center;
  background: rgb(71, 87, 110);
  background: -moz-linear-gradient(left, rgba(71, 87, 110, 1) 0%, rgba(101, 119, 141, 1) 50%, rgba(71, 87, 110, 1) 100%);
  background: -webkit-linear-gradient(left, rgba(71, 87, 110, 1) 0%, rgba(101, 119, 141, 1) 50%, rgba(71, 87, 110, 1) 100%);
  background: linear-gradient(to right, rgba(71, 87, 110, 1) 0%, rgba(101, 119, 141, 1) 50%, rgba(71, 87, 110, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#47576e', endColorstr='#47576e', GradientType=1);
}

.small-advantage-list {
  margin-bottom: 0;
  list-style: none;
  text-align: center;
  display: flex;
  align-items: center;
}

.small-advantage-item {
  color: #fff;
  font-weight: 500;
  line-height: 1.3;
  flex-basis: 25%;
}

.small-advantage-icon {
  width: 68px;
  height: 68px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-bottom: 24px;
  border-radius: 9px;
  background: rgb(55, 113, 158);
  background: -moz-linear-gradient(top, rgba(55, 113, 158, 1) 0%, rgba(17, 42, 61, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(55, 113, 158, 1) 0%, rgba(17, 42, 61, 1) 100%);
  background: linear-gradient(to bottom, rgba(55, 113, 158, 1) 0%, rgba(17, 42, 61, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#37719e', endColorstr='#112a3d', GradientType=0);

  &::before {
    margin: auto;
  }
}
