.synchronization {
  padding-top: 18px;
  padding-bottom: 29px;
}

.synchronization-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &::before {
    order: 1;
    background: url(../img/decor/iphone.png) no-repeat center;
  }

  &::after {
    order: 3;
    background: url(../img/decor/samsung.png) no-repeat center;
  }

  &::before,
  &::after {
    background-size: contain;
    content: '';
  }
}

.synchronization-title {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

.synchronization-info {
  padding-top: 22px;
  position: relative;
  text-align: center;
  order: 2;
}

.synchronization-media {
  margin-bottom: 17px;
}

.synchronization-content {
  &::before,
  &::after {
    position: absolute;
  }

  &::after {
    background-image: url(../img/spritesheet-m.png);
    background-repeat: no-repeat;
    display: block;
    content: '';
  }
}

.synchronization-order {
  border-radius: 8px;
  border: 2px solid $orangeColor;
  order: 4;
  display: flex;
}

.synchronization-order__content {
  font-weight: 600;
}

.synchronization-order__content-head {
  margin-bottom: 5px;
  color: $orangeColor;
  font-size: 22px;
  text-transform: uppercase;
}

@media (min-width: 576px) {
  .synchronization {
    padding-top: 29px;
    padding-bottom: 40px;
    background: rgb(227, 230, 234);
    background: -moz-linear-gradient(left, rgba(227, 230, 234, 1) 0%, rgba(241, 242, 244, 1) 50%, rgba(227, 230, 234, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(227, 230, 234, 1) 0%, rgba(241, 242, 244, 1) 50%, rgba(227, 230, 234, 1) 100%);
    background: linear-gradient(to right, rgba(227, 230, 234, 1) 0%, rgba(241, 242, 244, 1) 50%, rgba(227, 230, 234, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3e6ea', endColorstr='#e3e6ea', GradientType=1);
  }
  .synchronization-inner {
    &::before {
      width: 211px;
      height: 423px;
    }

    &::after {
      width: 210px;
      height: 422px;
    }
  }
  .synchronization-info {
    margin-left: 50px;
    margin-right: 50px;
  }

  .synchronization-content {
    padding-top: 16px;
    font-size: 14px;

    &::before,
    &::after {
      top: 40%;
    }

    &::before {
      left: 17px;
    }

    &::after {
      right: 18px;
      background-image: url(../img/spritesheet.png);
      @include stitches-sprite(-332px, -229px, 37px, 35px);
    }
  }
  .synchronization-order {
    max-width: 947px;
    width: 100%;
    margin-top: 47px;
    padding: 23px 26px;
    align-items: center;

    &::before {
      margin-right: 19px;
    }
  }
  .synchronization-order__content {
    font-size: 24px;
    margin-right: auto;
    line-height: 1;
  }
  .synchronization-order__content-head {
    font-size: 30px;
  }
  .synchronization-media-2 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .synchronization {
    background: rgb(217, 206, 192);
    background: -moz-linear-gradient(left, rgba(217, 206, 192, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(217, 206, 192, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(217, 206, 192, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(217, 206, 192, 1) 100%);
    background: linear-gradient(to right, rgba(217, 206, 192, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(217, 206, 192, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9cec0', endColorstr='#d9cec0', GradientType=1);
  }
  .synchronization-inner {
    &::before {
      width: 31%;
      height: 230px;
    }

    &::after {
      width: 31%;
      height: 230px;
    }
  }
  .synchronization-info {
    width: 38%;
  }
  .synchronization-media {
    padding-left: 22%;
    padding-right: 22%;
  }
  .synchronization-content {
    width: 270px;
    margin-left: -60%;
    padding-top: 29px;
    font-size: 14px;
    line-height: 1.7;

    &::before {
      left: 1px;
    }

    &::after {
      right: 1px;
      @include stitches-sprite(-246px, -159px, 25px, 23px);
    }

    &::before,
    &::after {
      top: 29%;
    }

    br {
      display: none;
    }
  }
  .synchronization-order {
    margin-top: 22px;
    padding: 14px 12px 30px;
    flex-wrap: wrap;

    &::before {
      margin-right: 8px;
    }

    .btn-primary {
      margin-top: 17px;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .synchronization-order__content {
    line-height: 1.3;
  }
}

@media (min-width: 376px) and (max-width: 450px) {
  .synchronization-order {
    justify-content: center;
  }
}
