.trust-us {
  padding-top: 20px;
  padding-bottom: 4px;
  background-color: #e4e1dc;
  border-bottom: 2px solid $orangeColor;
}

.trust-us-title {
  margin-bottom: 0;
  line-height: 1.3;
  text-align: center;
}

.trust-us-text {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
}

.trust-us-item {
  margin-bottom: 20px;
  padding-left: 22px;
  padding-right: 2%;
  position: relative;
  font-size: 12px;

  &::before {
    top: 2px;
    left: 0;
    position: absolute;
  }
}

@media (min-width: 768px) {
  .trust-us {
    padding-bottom: 7px;
    background-color: #edf1f7;
  }
  .trust-us-title {
    margin-left: -24px;
    white-space: nowrap;
  }
  .trust-us-text {
    margin-bottom: 28px;
    font-size: 26px;
  }
  .trust-us-list {
    display: flex;
    flex-wrap: wrap;
  }
  .trust-us-item {
    width: 50%;
    font-size: 14px;
    padding-left: 34px;
  }
}

@media (max-width: 767px) {
  .trust-us-title {
    margin-bottom: 3px;
  }
  .trust-us-item {
    line-height: 1.3;
  }
}

@media (min-width: 376px) and (max-width: 450px) {
  .trust-us-item {
    font-size: 13px;
    line-height: 1.4;
  }
}
