.warranty {
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
  }
}

.warranty-title {
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  text-align: left;

  &::after {
    margin: 0;
    background-color: $blueColor;
    position: absolute;
  }
}

.warranty-title__bold {
  font-weight: 900;
  display: block;
}

.warranty-list {
  padding-left: 0;
}

.warranty-list__item {
  display: flex;
}

.warranty-list__num {
  color: $blueColor;
  font-weight: 500;
  line-height: 1;
  position: relative;

  &::after {
    width: 1px;
    position: absolute;
    transform: rotate(9deg);
    content: '';
  }
}

.warranty-list__text {
  font-size: 12px;
  order: 1;
}

.warranty-bottom {
  font-family: $font-family-head;
  text-align: center;
}

.warranty-text {
  position: relative;
  font-weight: 900;
  text-transform: uppercase;

  &::before,
  &::after {
    width: 22px;
    height: 22px;
    position: absolute;
    background: url(../img/decor/phone.png) no-repeat center;
    content: '';
  }
}

.warranty-phone {
  color: #0066b2;
  font-weight: 700;
}

@media (min-width: 576px) {
  .warranty {
    padding-top: 40px;
    padding-bottom: 49px;
    background: url(../img/bg/bg-warranty.png) no-repeat center;

    &::after {
      width: 287px;
      height: 433px;
      position: absolute;
      bottom: -3px;
      right: 10%;
      background: url(../img/decor/hand.png) no-repeat center;
      background-size: contain;
    }
  }

  .warranty-title {
    margin-bottom: 34px;
    font-size: 22px;

    &::after {
      width: 6px;
      height: 113%;
      left: -22px;
      top: -5px;
    }
  }
  .warranty-list {
    max-width: 567px;
    margin-bottom: 51px;
  }
  .warranty-list__item {
    min-height: 38px;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  .warranty-list__num {
    width: 50px;
    margin-top: 1px;
    font-size: 24px;
    flex: none;

    &::after {
      height: 24px;
      top: 4px;
      right: 12px;
      background-color: #d7d1c6;
    }
  }
  .warranty-list__text {
    line-height: 1.6;
  }
  .warranty-text {
    margin-bottom: 4px;
    padding-right: 22px;
    padding-left: 22px;

    &::before {
      top: 2px;
      left: 3px;
    }

    &::after {
      right: -3px;
      top: -1px;
    }
  }
  .warranty-bottom {
    max-width: 470px;
    margin-left: -24px;
  }
  .warranty-phone {
    font-size: 30px;
  }
}

@media (max-width: 575px) {
  .warranty {
    padding-top: 24px;
    padding-bottom: 398px;
    z-index: 1;
    overflow: hidden;
    position: relative;
    background: #f7d49a;
    background: -moz-linear-gradient(left, #f7d49a 0%, #f9e4b9 50%, #f7d49a 100%);
    background: -webkit-linear-gradient(left, #f7d49a 0%, #f9e4b9 50%, #f7d49a 100%);
    background: linear-gradient(to right, #f7d49a 0%, #f9e4b9 50%, #f7d49a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7d49a', endColorstr='#f7d49a', GradientType=1);
    display: flex;
    flex-direction: column;

    &::after {
      width: 269px;
      height: 404px;
      position: absolute;
      bottom: -21px;
      left: 50%;
      margin-left: -109px;
      background: url(../img/decor-m/hand.png) no-repeat bottom center;
      background-size: contain;
    }
  }

  .warranty-title {
    padding-left: 15px;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 24px;

    &::after {
      width: 5px;
      height: 102%;
      left: -1px;
      top: 1px;
    }
  }
  .warranty-list {
    margin-bottom: 24px;
    position: relative;
    z-index: 1;
  }
  .warranty-list__item {
    min-height: 40px;

    &:nth-child(2) {
      margin-top: 16px;
      margin-bottom: 3px;
    }
  }
  .warranty-list__num {
    width: 38px;
    margin-top: 1px;
    font-size: 22px;
    flex: none;

    &::after {
      height: 24px;
      top: 3px;
      right: 7px;
      background-color: #b3b3b3;
    }
  }
  .warranty-list__text {
    font-size: 14px;
    line-height: 20px;
  }
  .warranty-bottom {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .warranty-text {
    margin-bottom: 12px;
    line-height: 26px;

    &::before {
      top: 4px;
      left: -27px;
    }

    &::after {
      right: -12px;
      top: 27px;
    }
  }
  .warranty-phone {
    font-size: 24px;
  }
}
