.warranty {
  background: url(../img/bg/bg-warranty.png) no-repeat center;
  background-size: cover;
}

.warranty-container {
  padding-top: 31px;
  padding-bottom: 50px;
  position: relative;

  &::after {
    width: 393px;
    height: 590px;
    background: url(../img/decor/hand.png) no-repeat center;
    background-size: contain;
    position: absolute;
    bottom: 0;
    left: 57%;
    content: '';
  }
}

.warranty-title {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
  text-align: left;

  &::after {
    width: 8px;
    height: 113%;
    margin: 0;
    background-color: $blueColor;
    position: absolute;
    left: -20px;
    top: -5px;
  }
}

.warranty-title__bold {
  font-weight: 900;
  display: block;
}

.warranty-list {
  max-width: 567px;
  padding-left: 0;
  margin-bottom: 0;
}

.warranty-list__item {
  margin-bottom: 30px;
  display: flex;

  &::after {
    width: 1px;
    height: 33px;
    margin-left: 8px;
    margin-right: 13px;
    top: 4px;
    position: relative;
    background-color: #d7d1c6;
    transform: rotate(10deg);
    content: '';
  }
}

.warranty-list__num {
  color: $blueColor;
  font-size: 31px;
  font-weight: 700;
  line-height: 1;
}

.warranty-list__text {
  font-weight: 300;
  order: 1;
  line-height: 1.4;
}

.warranty-text {
  margin-bottom: 30px;
  font-size: 21px;
  text-transform: uppercase;
  font-family: $font-family-head;
}

.warranty-btn {
  width: 366px;
  margin-left: 59px;
}
