<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>AirPods Discount</title>
    <link rel="stylesheet" href="css/lib.min.css?ver=116">
    <link rel="stylesheet" href="css/styles.min.css?ver=122">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#231f20">
    <link rel="shortcut icon" href="favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-config" content="favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<header class="header">
    <div class="header__inner">
        <div class="header-content">
            <h1 class="header-title">
                <span class="header-title__text">Закажите себе наушники</span>
                Apple AirPods 2
            </h1>
            <div class="header-pre-title">по выгодной цене</div>
            <div class="header-price__old">Обычная цена: <del class="header-price__old-strikeout">14 990 руб.</del></div>
            <div class="header-price__new">
                <div class="header-price__new-discount">Со скидкой:</div>
                <div class="header-price__new-cost">3 990 руб.</div>
            </div>
            <form class="header-form form-callback">
                <input type="hidden" name="formname" value="Заказ на наушники AirPods 2">
                <div class="reviews-form__group form-group">
                    <label class="sr-only">Контактный телефон</label>
                    <svg class="reviews-form__icon">
                        <use xlink:href="img/icons.svg#phone-2"></use>
                    </svg>
                    <input type="tel" name="phone" class="form-control hide-placeholder phone" placeholder="Контактный телефон*" inputmode="text" autocomplete="off" required>
                </div>
                <button type="submit" class="btn btn-primary">отправить заяВку</button>
            </form>
        </div>
    </div>
</header>

<section class="reviews" id="review">
    <div class="reviews-container">
        <h2 class="reviews-title">Отзывы покупателей</h2>
        <p class="reviews-text hide-xs">
            Мы попросили наших покупателей поделиться впечатлениями
            <br>
            от приобретения наушников AirPods 2 в нашем магазине
        </p>
        <p class="reviews-text show-xs">
            Наши покупатели поделись впечатлениями<br>
            от приобретения в нашем магазине
        </p>

        <div class="video-reviews show-xs">
            <div class="video-reviews-item">
                <div class="video-reviews-item__inner embed-responsive embed-responsive-16by9">
                    <video class='video-js embed-responsive-item' controls preload='auto' poster='/img/preview/preview-01.jpg' data-setup='{}'>
                        <source src='/video/apple_discount_1_maria.mp4' type='video/mp4'>
                        <p class='vjs-no-js'>
                            To view this video please enable JavaScript, and consider upgrading to a web browser that
                            <a href='https://videojs.com/html5-video-support/' target='_blank'>supports HTML5 video</a>
                        </p>
                    </video>
                </div>
            </div>
            <div class="video-reviews-item">
                <div class="video-reviews-item__inner embed-responsive embed-responsive-16by9">
                    <video class='video-js embed-responsive-item' controls preload='auto' poster='/img/preview/preview-02.jpg' data-setup='{}'>
                        <source src='/video/apple_discount_2_pavel.mp4' type='video/mp4'>
                        <p class='vjs-no-js'>
                            To view this video please enable JavaScript, and consider upgrading to a web browser that
                            <a href='https://videojs.com/html5-video-support/' target='_blank'>supports HTML5 video</a>
                        </p>
                    </video>
                </div>
            </div>
            <div class="video-reviews-item">
                <div class="video-reviews-item__inner embed-responsive embed-responsive-16by9">
                    <video class='video-js embed-responsive-item' controls preload='auto' poster='/img/preview/preview-03.jpg' data-setup='{}'>
                        <source src='/video/apple_discount_3_anastasia.mp4' type='video/mp4'>
                        <p class='vjs-no-js'>
                            To view this video please enable JavaScript, and consider upgrading to a web browser that
                            <a href='https://videojs.com/html5-video-support/' target='_blank'>supports HTML5 video</a>
                        </p>
                    </video>
                </div>
            </div>
            <div class="video-reviews-item">
                <div class="video-reviews-item__inner embed-responsive embed-responsive-16by9">
                    <video class='video-js embed-responsive-item' controls preload='auto' poster='/img/preview/preview-04.jpg' data-setup='{}'>
                        <source src='/video/apple_discount_4_kristina.mp4' type='video/mp4'>
                        <p class='vjs-no-js'>
                            To view this video please enable JavaScript, and consider upgrading to a web browser that
                            <a href='https://videojs.com/html5-video-support/' target='_blank'>supports HTML5 video</a>
                        </p>
                    </video>
                </div>
            </div>
            <div class="video-reviews-item">
                <div class="video-reviews-item__inner embed-responsive embed-responsive-16by9">
                    <video class='video-js embed-responsive-item' controls preload='auto' poster='/img/preview/preview-05.jpg' data-setup='{}'>
                        <source src='/video/apple_discount_5_sergey.mp4' type='video/mp4'>
                        <p class='vjs-no-js'>
                            To view this video please enable JavaScript, and consider upgrading to a web browser that
                            <a href='https://videojs.com/html5-video-support/' target='_blank'>supports HTML5 video</a>
                        </p>
                    </video>
                </div>
            </div>
            <div class="video-reviews-item">
                <div class="video-reviews-item__inner embed-responsive embed-responsive-16by9">
                    <video class='video-js embed-responsive-item' controls preload='auto' poster='/img/preview/preview-06.jpg' data-setup='{}'>
                        <source src='/video/apple_discount_6_lia.mp4' type='video/mp4'>
                        <p class='vjs-no-js'>
                            To view this video please enable JavaScript, and consider upgrading to a web browser that
                            <a href='https://videojs.com/html5-video-support/' target='_blank'>supports HTML5 video</a>
                        </p>
                    </video>
                </div>
            </div>
        </div>

        <div class="video-reviews hide-xs">
            <div class="video-reviews-item">
                <div class="video-reviews-item__inner video-play embed-responsive embed-responsive-16by9" data-fancybox="html5-video" data-src="#video-01">
                    <img data-path="/img/preview/preview-01.jpg" class="img__data-path embed-responsive-item" alt="">
                </div>
            </div>
            <div class="video-reviews-item">
                <div class="video-reviews-item__inner video-play embed-responsive embed-responsive-16by9" data-fancybox="html5-video" data-src="#video-02">
                    <img data-path="/img/preview/preview-02.jpg" class="img__data-path embed-responsive-item" alt="">
                </div>
            </div>
            <div class="video-reviews-item">
                <div class="video-reviews-item__inner video-play embed-responsive embed-responsive-16by9" data-fancybox="html5-video" data-src="#video-03">
                    <img data-path="/img/preview/preview-03.jpg" class="img__data-path embed-responsive-item" alt="">
                </div>
            </div>
            <div class="video-reviews-item">
                <div class="video-reviews-item__inner video-play embed-responsive embed-responsive-16by9" data-fancybox="html5-video" data-src="#video-04">
                    <img data-path="/img/preview/preview-04.jpg" class="img__data-path embed-responsive-item" alt="">
                </div>
            </div>
            <div class="video-reviews-item">
                <div class="video-reviews-item__inner video-play embed-responsive embed-responsive-16by9" data-fancybox="html5-video" data-src="#video-06">
                    <img data-path="/img/preview/preview-05.jpg" class="img__data-path embed-responsive-item" alt="">
                </div>
            </div>
            <div class="video-reviews-item">
                <div class="video-reviews-item__inner video-play embed-responsive embed-responsive-16by9" data-fancybox="html5-video" data-src="#video-05">
                    <img data-path="/img/preview/preview-06.jpg" class="img__data-path embed-responsive-item" alt="">
                </div>
            </div>
        </div>

        <div class="reviews-wrap__form">
            <ul class="reviews-list list-unstyled">
                <li class="reviews-list__item sprite-point">Проверка перед отправкой</li>
                <li class="reviews-list__item sprite-point">Оплата при получении</li>
                <li class="reviews-list__item sprite-point">100% гарантия качества</li>
                <li class="reviews-list__item sprite-point">Ускоренная доставка</li>
            </ul>

            <form class="reviews-form form-callback">
                <input type="hidden" name="formname" value="Заказ на наушники AirPods 2">
                <div class="reviews-form__group form-group">
                    <label class="sr-only">Контактный телефон</label>
                    <svg class="reviews-form__icon">
                        <use xlink:href="img/icons.svg#phone-2"></use>
                    </svg>
                    <input type="tel" name="phone" class="form-control hide-placeholder phone" placeholder="Контактный телефон*" required>
                </div>
                <button type="submit" class="btn btn-primary">отправить заяВку</button>
            </form>
        </div>
    </div>
</section>

<div class="appeal">
    <div class="container">
        Более <span class="text-bold">2850</span> довольных клиентов<br>
        уже приобрели наушники <span class="text-bold">AirPods 2</span><br>
        в нашем магазине!
    </div>
</div>

<section class="gift">
    <div class="container">
        <h2 class="gift-title">Сделайте себе <span class="hide-xs">шикарный</span> <span class="text-bold">подарок!</span></h2>
        <p class="gift-text">
            Закажите сейчас <span class="text-bold">AirPods 2</span> <br class="show-xs"> по&nbsp;лучшей цене <span class="gift-text__cost">3 990 руб.</span>
        </p>

        <div class="gift-info">
            <div class="gift-product">
                <div class="gift-discount">
                    <div class="gift-discount__text">Цена</div>
                    <del class="gift-discount__old">14 990 р.</del>
                    <div class="gift-discount__new">3 990 р.</div>
                </div>
            </div>

            <div class="gift-choose sprite-gift">
                <div class="gift-choose__text">Стильный чехол</div>
                <div class="gift-choose__string">В Подарок!</div>
                <div class="gift-choose__color">54 цвета на выбор</div>
            </div>

            <form class="call-form form-callback">
                <input type="hidden" name="formname" value="Заказ на наушники AirPods 2">
                <div class="call-form__title">Закажите</div>
                <div class="call-form__text">
                    Airpods 2 сегодня
                    <div class="call-form__text-small">и получите  стильный чехол</div>
                </div>
                <div class="call-form__text-2">в подарок!</div>
                <div class="call-form__price">
                    Цена со скидкой:
                    <span class="call-form__price-cost">3 990 р.</span>
                </div>

                <div class="form-group call-form__group">
                    <label class="sr-only" for="call-form__name">Ваше имя</label>
                    <svg class="call-form__icon">
                        <use xlink:href="img/icons.svg#user"></use>
                    </svg>
                    <input type="text" name="name" class="call-form__field form-control hide-placeholder" id="call-form__name" placeholder="Ваше имя" autocomplete="off" required>
                </div>

                <div class="form-group call-form__group">
                    <label class="sr-only" for="call-form__tel">Контактный телефон*</label>
                    <svg class="call-form__icon">
                        <use xlink:href="img/icons.svg#phone-2"></use>
                    </svg>
                    <input type="tel" name="phone" class="call-form__field form-control hide-placeholder phone" id="call-form__tel" placeholder="Контактный телефон*" autocomplete="off" required>
                </div>

                <div class="call-form__terms sprite-lock">
                    Ваши данные под защитой
                </div>

                <button type="submit" class="btn btn-primary">Заказать с подарком</button>
            </form>
        </div>
    </div>
</section>

<div class="small-advantage">
    <ul class="small-advantage-list">
        <li class="small-advantage-item">
            <span class="small-advantage-icon sprite-quality"></span>
            100%&nbsp;гарантированное <br> качество
        </li>
        <li class="small-advantage-item">
            <span class="small-advantage-icon sprite-not-pay"></span>
            Никакой <br> предоплаты
        </li>
        <li class="small-advantage-item">
            <span class="small-advantage-icon sprite-courier"></span>
            Ускоренная <br >курьерская доставка
        </li>
        <li class="small-advantage-item">
            <span class="small-advantage-icon sprite-wallet"></span>
            Оплата при
            <br>
            получении
        </li>
    </ul>
</div>

<section class="choose">
    <div class="choose-inner">
        <h2 class="choose-title">
            Выберите<br>
            <span class="text-bold">AirPods 2</span> или <span class="text-bold">AirPodsPro</span>
        </h2>

        <div class="choose-card">
            <div class="choose-card__media">
                <img data-path="img/product/airpods-03.png" class="img__data-path" alt="">
            </div>
            <div class="choose-card__price-old">Обычная цена: <del>14 990 руб.</del></div>
            <div class="choose-card__price">Со скидкой: <span class="choose-card__price-cost">3 990 руб.</span></div>
            <form class="header-form form-callback">
                <input type="hidden" name="formname" value="Заказ на наушники AirPods 2">
                <div class="reviews-form__group form-group">
                    <label class="sr-only">Контактный телефон</label>
                    <svg class="reviews-form__icon">
                        <use xlink:href="img/icons.svg#phone-2"></use>
                    </svg>
                    <input type="tel" name="phone" class="form-control hide-placeholder phone" placeholder="Контактный телефон*" required inputmode="text">
                </div>
                <button type="submit" class="btn btn-primary">КУПИТЬ AIRPODS 2</button>
            </form>
        </div>

        <div class="choose-card">
            <div class="choose-card__media">
                <img data-path="img/product/airpods-04.png" class="img__data-path" alt="">
            </div>
            <div class="choose-card__price-old">Обычная цена: <del>21 990 руб.</del></div>
            <div class="choose-card__price">Со скидкой: <span class="choose-card__price-cost">6 990 руб.</span></div>
            <form class="header-form form-callback">
                <input type="hidden" name="formname" value="Заказ на наушники AirPods pro">
                <div class="reviews-form__group form-group">
                    <label class="sr-only">Контактный телефон</label>
                    <svg class="reviews-form__icon">
                        <use xlink:href="img/icons.svg#phone-2"></use>
                    </svg>
                    <input type="tel" name="phone" class="form-control hide-placeholder phone" placeholder="Контактный телефон*" required inputmode="text">
                </div>
                <button type="submit" class="btn btn-primary">КУПИТЬ AIRPODS PRO</button>
            </form>
        </div>
    </div>
</section>

<section class="autonomy">
    <div class="container">
        <h2 class="autonomy-title">Простая зарядка и долгая работа</h2>

        <ul class="autonomy-list list-unstyled">
            <li class="autonomy-item sprite-charging">15 минут зарядки - 4,5 часа музыки!</li>
            <li class="autonomy-item sprite-charging-02">3,5 часа в режиме разговора!</li>
            <li class="autonomy-item sprite-24">24 часа работы с футляром!</li>
        </ul>
    </div>
</section>

<section class="synchronization" id="synchronization">
    <div class="synchronization-inner container">
        <h2 class="synchronization-title">Синхронизация</h2>

        <div class="synchronization-info">
            <div class="synchronization-media"><img data-path="img/product/synchronization-01.png" class="img__data-path" alt=""></div>
            <div class="synchronization-media synchronization-media-2"><img data-path="img/product/synchronization-02.png" class="img__data-path" alt=""></div>
            <div class="synchronization-content sprite-synchronization">
                Наушники <span class="text-bold">AirPods 2</span> и <span class="text-bold">Airpods Pro</span>
                <br>
                синхронизируются с устройствами
                <br>
                <span class="text-bold">iOS  (iPhone)</span> и <span class="text-bold">Android.</span>
            </div>
        </div>

        <div class="synchronization-order sprite-clock">
            <div class="synchronization-order__content">
                <div class="synchronization-order__content-head">закажите сейчас</div>
                со скидкой по лучшей цене
            </div>
            <form class="header-form form-callback">
                <input id="formname11" type="hidden" name="formname" value="Заказ на наушники AirPods 2">
                <div class="reviews-form__group form-group">
                    <label class="sr-only" for="tel4">Контактный телефон</label>
                    <svg class="reviews-form__icon">
                        <use xlink:href="img/icons.svg#phone-2"></use>
                    </svg>
                    <input type="tel" name="phone" class="form-control hide-placeholder phone" id="tel4" placeholder="Контактный телефон*" required="" inputmode="text">
                </div>
                <div class="btn btn-primary">заказать сейчас</div>
            </form>
        </div>
    </div>
</section>

<section class="attention" id="attention">
    <div class="container">
        <h2 class="attention-title">Опыт после 6 месяцев эксплуатации</h2>

        <div class="attention-text">
            Мы&nbsp;попросили одного из&nbsp;наших покупателей дать свою оценку<br class="hide-xs">
            ежедневного пользования наушников
            <span class="text-bold">AirPods&nbsp;2</span>,<br class="hide-xs"> спустя полгода после приобретения в&nbsp;нашем магазине.
        </div>


        <div class="attention-media hide-xs video-play" data-fancybox="html5-video-2" data-src="#video-07">
            <img data-path="/img/preview/preview-07.jpg" class="img__data-path" alt="">
        </div>

        <div class="attention-media embed-responsive embed-responsive-16by9 show-xs">
            <video class='video-js embed-responsive-item' controls preload='auto' poster='/img/preview/preview-07.jpg' data-setup='{}'>
                <source src='/video/apple_discount_7_denis.mp4' type='video/mp4'>
                <p class='vjs-no-js'>
                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                    <a href='https://videojs.com/html5-video-support/' target='_blank'>supports HTML5 video</a>
                </p>
            </video>
        </div>

        <div class="attention-box">
            ИДЕАЛЬНОЕ звучание, КАЧЕСТВЕННАЯ СБОРКА, оригинальная упаковка
        </div>
    </div>
</section>

<div class="questions container-fluid ">
    <div class="sprite-question">
        <h2 class="questions-title">
            ОСТАЛИСЬ <span class="text-bold">ВОПРОСЫ?</span>
        </h2>
        <div class="questions-go">задайте их менеджеру</div>
    </div>
</div>

<div class="pre-footer">
    <div class="pre-footer__inner container">
        <form class="call-form form-callback">
            <input id="formname6" type="hidden" name="formname" value="Заказ на наушники AirPods 2">
            <div class="call-form__title">Закажите</div>
            <div class="call-form__text">
                Airpods 2 сегодня
                <div class="call-form__text-small">по выгодной цене</div>
            </div>

            <div class="choose-card__price-old">Обычная цена: <del>14 990 руб.</del></div>
            <div class="call-form__price">
                Цена со скидкой:
                <span class="call-form__price-cost">3 990 р.</span>
            </div>

            <div class="form-group call-form__group">
                <label class="sr-only" for="call-form__name2">Ваше имя</label>
                <svg class="call-form__icon">
                    <use xlink:href="img/icons.svg#user"></use>
                </svg>
                <input type="text" name="name" class="call-form__field form-control hide-placeholder" id="call-form__name2" placeholder="Ваше имя" autocomplete="off" required>
            </div>

            <div class="form-group call-form__group">
                <label class="sr-only" for="call-form__tel2">Контактный телефон*</label>
                <svg class="call-form__icon">
                    <use xlink:href="img/icons.svg#phone-2"></use>
                </svg>
                <input type="tel" name="phone" class="call-form__field form-control hide-placeholder phone" id="call-form__tel2" placeholder="Контактный телефон*" inputmode="text" autocomplete="off" required>
            </div>

            <div class="call-form__terms sprite-lock">
                Ваши данные под защитой
            </div>

            <button type="submit" class="btn btn-primary">Заказать с подарком</button>
        </form>
    </div>
</div>

<nav class="menu-mob">
    <ul class="menu-mob-list">
        <li class="menu-mob__item"><a href="#advantages" class="menu-mob__link">Характеристики</a></li>
        <li class="menu-mob__item"><a href="#attention" class="menu-mob__link">Видеообзор</a></li>
        <li class="menu-mob__item"><a href="#review" class="menu-mob__link">Отзывы</a></li>
        <li class="menu-mob__item"><a href="#complete" class="menu-mob__link">Комлект поставки</a></li>
        <li class="menu-mob__item"><a href="#synchronization" class="menu-mob__link">Синхронизация</a></li>
        <li class="menu-mob__item"><a href="#advantages" class="menu-mob__link">Обзор</a></li>
        <li class="menu-mob__item"><a href="#delivery" class="menu-mob__link">Доставка и оплата</a></li>
    </ul>

    <div class="footer-social">
        <a href="https://vk.com/appleairpodsdiscount" class="footer-link sprite-vk" target="_blank"><span class="hide-xs">VKontakte</span></a>
        <a href="https://www.instagram.com/airpodsrefofficial/" class="footer-link sprite-insta" target="_blank"><span class="hide-xs">Instagram</span></a>
        <a href="https://api.whatsapp.com/send?phone=79031173754" class="footer-link sprite-what" target="_blank"><span class="hide-xs">WatsApp</span></a>
        <a href="tg://resolve?domain=alexlenk" st="link-support-telegram" title="@alexlenk" class="footer-link sprite-tg"><span class="hide-xs">Telegram</span></a>
    </div>
</nav>

<div class="menu-opened__layer"></div>

<video id="video-01" class="" controls preload="auto" style="display: none">
    <source src="/video/apple_discount_1_maria.mp4" type="video/mp4">
    <p>
        Для просмотра этого видео включите JavaScript и рассмотрите возможность обновления веб-браузера до новой версии
        <a href='https://videojs.com/html5-video-support/' target='_blank' rel="nofollow">поддерживает HTML5 видео</a>
    </p>
</video>

<video id="video-02" class="" controls preload="auto" style="display: none">
    <source src="/video/apple_discount_2_pavel.mp4" type="video/mp4">
    <p>
        Для просмотра этого видео включите JavaScript и рассмотрите возможность обновления веб-браузера до новой версии
        <a href='https://videojs.com/html5-video-support/' target='_blank' rel="nofollow">поддерживает HTML5 видео</a>
    </p>
</video>

<video id="video-03" class="" controls preload="auto" style="display: none">
    <source src="/video/apple_discount_3_anastasia.mp4" type="video/mp4">
    <p>
        Для просмотра этого видео включите JavaScript и рассмотрите возможность обновления веб-браузера до новой версии
        <a href='https://videojs.com/html5-video-support/' target='_blank' rel="nofollow">поддерживает HTML5 видео</a>
    </p>
</video>

<video id="video-04" class="" controls preload="auto" style="display: none">
    <source src="/video/apple_discount_4_kristina.mp4" type="video/mp4">
    <p>
        Для просмотра этого видео включите JavaScript и рассмотрите возможность обновления веб-браузера до новой версии
        <a href='https://videojs.com/html5-video-support/' target='_blank' rel="nofollow">поддерживает HTML5 видео</a>
    </p>
</video>

<video id="video-05" class="" controls preload="auto" style="display: none">
    <source src="/video/apple_discount_6_lia.mp4" type="video/mp4">
    <p>
        Для просмотра этого видео включите JavaScript и рассмотрите возможность обновления веб-браузера до новой версии
        <a href='https://videojs.com/html5-video-support/' target='_blank' rel="nofollow">поддерживает HTML5 видео</a>
    </p>
</video>

<video id="video-06" class="" controls preload="auto" style="display: none">
    <source src="/video/apple_discount_5_sergey.mp4" type="video/mp4">
    <p>
        Для просмотра этого видео включите JavaScript и рассмотрите возможность обновления веб-браузера до новой версии
        <a href='https://videojs.com/html5-video-support/' target='_blank' rel="nofollow">поддерживает HTML5 видео</a>
    </p>
</video>

<video id="video-07" class="" controls preload="auto" style="display: none">
    <source src="/video/apple_discount_7_denis.mp4" type="video/mp4">
    <p>
        Для просмотра этого видео включите JavaScript и рассмотрите возможность обновления веб-браузера до новой версии
        <a href='https://videojs.com/html5-video-support/' target='_blank' rel="nofollow">поддерживает HTML5 видео</a>
    </p>
</video>

<div id="modal-04" class="modal-view">
    <div class="modal-view-final js-step-2" style="display: block">
        <svg class="modal-view-final__icon">
            <use xlink:href="img/icons.svg#check"></use>
        </svg>
        <div class="modal-view-final__title">
            <div class="modal-view-final__title-lg">Спасибо,</div>
            <div class="modal-view-final__title-md">ваша заявка принята!</div>
        </div>
        <div class="modal-view-final__text">
            Менеджер свяжется с&nbsp;Вами <br class="show-xs"> в&nbsp;течении 10&nbsp;минут
        </div>

        <div data-fancybox-close class="modal-view-close" title="закрыть">
            <svg class="modal-view-close__icon">
                <use xlink:href="img/icons.svg#close"></use>
            </svg>
        </div>
    </div>
</div>

<script src="js/lib.min.js?ver=111"></script>
<script src="js/scripts.min.js?ver=113"></script>

</body>
</html>