<!doctype html>
<html lang="кгя-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Алмонд</title>

    <link rel="stylesheet" href="css/lib.min.css">
    <link rel="stylesheet" href="css/styles.min.css">

    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#fda74c">
    <link rel="shortcut icon" href="favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffc667">
    <meta name="msapplication-config" content="favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffaf50">
</head>
<body data-spy="scroll" data-target="#navbar-example2" data-offset="0">
<header class="header" id="home">
    <div class="header__inner container">
        <div class="header-logo">
            <a href="/"><img src="img/logo.svg" alt="алмонд"></a>
        </div>
        <div class="header-info">
            <div class="header-support">
                <a href="#" class="header-support__item btn-whats-app">
                    <svg class="btn-whats-app__icon">
                        <use xlink:href="img/icons.svg#whatsapp"></use>
                    </svg>
                    <span>whatsApp</span>
                </a>
                <a href="#" class="header-support__item btn-vk">
                    <svg class="btn-vk__icon">
                        <use xlink:href="img/icons.svg#vk"></use>
                    </svg>
                </a>
                <a href="#" class="header-support__write-us">Напишите нам</a>
            </div>

            <button type="button" class="menu-toggle"></button>

            <div class="header-info__contacts">
                <a href="#" class="header-phone">
                    <svg class="header-phone__icon">
                        <use xlink:href="img/icons.svg#phone"></use>
                    </svg>
                    8 (495) 999 99 99
                </a>
                <button class="btn-outline btn">Заказать обратный звонок</button>
            </div>

            <nav class="nav-menu">
                <ul class="menu list-unstyled" id="navbar-example2">
                    <li class="menu-item nav-item"><a href="#home" class="menu-link nav-link active">Главная</a></li>
                    <li class="menu-item nav-item"><a href="#two" class="menu-link nav-link">Ремонт квартиры</a></li>
                    <li class="menu-item nav-item"><a href="#three" class="menu-link nav-link">Ремонт под ключ</a></li>
                    <li class="menu-item nav-item"><a href="#fourth" class="menu-link nav-link">Ремонт новостройки</a></li>
                    <li class="menu-item nav-item"><a href="#" class="menu-link nav-link">Наши работы</a></li>
                    <li class="menu-item nav-item"><a href="#" class="menu-link nav-link">Вопросы</a></li>
                    <li class="menu-item nav-item"><a href="#" class="menu-link nav-link">Стоимость</a></li>
                    <li class="menu-item nav-item"><a href="#" class="menu-link nav-link menu-calc">
                        <svg class="menu-calc__icon">
                            <use xlink:href="img/icons.svg#calc"></use>
                        </svg>
                        Калькулятор</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
