<section class="motivation container">
    <h2 class="motivation-title title-block title-block-yellow">
        Хотите качественный ремонт своей квартиры?
    </h2>

    <form action="/" class="motivation-form call-form">
        <div class="call-form__title">
            Позвольте НАМ сделать вам
            <div class="motivation-form__text">качественный ремонт</div>
        </div>
        <div class="call-form__text">
            Оставьте заявку прямо сейчас и наш специалист
            <br>
            свяжется с вами в ближайшее время
        </div>

        <div class="form-group call-form__group">
            <label class="sr-only" for="call-form__name4">Ваше имя</label>
            <svg class="call-form__icon">
                <use xlink:href="img/icons.svg#user"></use>
            </svg>
            <input type="text" class="call-form__field form-control hide-placeholder" id="call-form__name4"
                   placeholder="Ваше имя">
        </div>

        <div class="form-group call-form__group">
            <label class="sr-only" for="call-form__tel4">Контактный телефон*</label>
            <svg class="call-form__icon">
                <use xlink:href="img/icons.svg#phone"></use>
            </svg>
            <input type="tel" class="call-form__field form-control hide-placeholder phone" id="call-form__tel4" placeholder="Контактный телефон*">
        </div>

        <button type="submit" class="call-form__btn btn btn-yellow">Оставить заявку</button>

        <div class="call-form__terms">
            Нажимая кнопку, вы даете согласие на обработку<br>
            персональных данных
        </div>
    </form>
</section>