.btn-outline {
  padding: 13px 17px;
  color: #e52b2b;
  border: 1px solid;
  font-weight: 600;
  font-size: 19px;
  line-height: 1;
  border-radius: 6px;
}

.btn-whats-app,
.btn-vk {
  min-width: 115px;
  padding: 4px 14px;
  color: #fff;
  font-size: 14px;
  border-radius: 15px;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  transition: opacity .4s;

  &:hover {
    opacity: .8;
    color: #fff;
  }
}

.btn-whats-app__icon,
.btn-vk__icon {
  width: 17px;
  height: 17px;
  margin-right: 6px;
  fill: #fff;
}

.btn-whats-app {
  background-color: #00a600;
}

.btn-vk {
  background-color: #2d81bb;
}

.btn-main {
  color: #fff;
  box-shadow: 0 3px #e62b2b;
  border-radius: 7px;
  font-weight: 700;
  background: #e72d2d;
  background: -moz-linear-gradient(top, #e72d2d 0%, #cc1b1b 100%);
  background: -webkit-linear-gradient(top, #e72d2d 0%, #cc1b1b 100%);
  background: linear-gradient(to bottom, #e72d2d 0%, #cc1b1b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e72d2d', endColorstr='#cc1b1b', GradientType=0);

  &:hover {
    color: #fff;
  }
}

@media (min-width: 576px) {
  .btn-main {
    padding: 13px 49px;
    letter-spacing: 0.02rem;
    font-size: 27px;
  }
}

@media (max-width: 575px) {
  .btn-main {
    width: 100%;
    padding: 9px 15px;
    font-size: 20px
  }
}
