.btn {
  font-family: $font-family-head;
  font-weight: 700;
  color: #333;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 0 solid transparent;
  padding: .43rem 1.6rem;
  font-size: .9375rem;
  line-height: 1.5;
  border-radius: 7px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all .3s;

  &::after,
  &::before {
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    border-radius: inherit;
    position: absolute;
    content: '';
  }

  &::after {
    opacity: 0;
    transition: opacity .3s;
  }

  &:focus {
    outline: none;
  }

  &:hover::after {
    opacity: 1;
  }

  &:active {
    box-shadow: 0 0 0 transparent, 0 0 0 transparent;
    transform: translateY(2px);
  }
}

.btn-yellow {
  white-space: nowrap;

  &::before {
    background: rgb(254, 214, 12);
    background: -moz-linear-gradient(top, rgba(254, 214, 12, 1) 25%, rgba(249, 157, 28, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(254, 214, 12, 1) 25%, rgba(249, 157, 28, 1) 100%);
    background: linear-gradient(to bottom, rgba(254, 214, 12, 1) 25%, rgba(249, 157, 28, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fed60c', endColorstr='#f99d1c', GradientType=0);
  }

  &::after {
    background: rgb(249, 157, 28);
    background: -moz-linear-gradient(top, rgba(249, 157, 28, 1) 0%, rgba(254, 214, 12, 1) 75%);
    background: -webkit-linear-gradient(top, rgba(249, 157, 28, 1) 0%, rgba(254, 214, 12, 1) 75%);
    background: linear-gradient(to bottom, rgba(249, 157, 28, 1) 0%, rgba(254, 214, 12, 1) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f99d1c', endColorstr='#fed60c', GradientType=0);
  }
}

.btn-red {
  width: calc(100% - 2px);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 22px;
  box-shadow: 0 3px #e62b2b, 2px 2px 6px #a7a7a7;

  &::before {
    background: rgb(255, 45, 45);
    background: -moz-linear-gradient(top, rgba(255, 45, 45, 1) 25%, rgba(185, 37, 40, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 45, 45, 1) 25%, rgba(185, 37, 40, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 45, 45, 1) 25%, rgba(185, 37, 40, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2d2d', endColorstr='#b92528', GradientType=0);
  }

  &::after {
    background: rgb(185, 37, 40);
    background: -moz-linear-gradient(top, rgba(185, 37, 40, 1) 0%, rgba(255, 45, 45, 1) 75%);
    background: -webkit-linear-gradient(top, rgba(185, 37, 40, 1) 0%, rgba(255, 45, 45, 1) 75%);
    background: linear-gradient(to bottom, rgba(185, 37, 40, 1) 0%, rgba(255, 45, 45, 1) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b92528', endColorstr='#ff2d2d', GradientType=0);
  }

  &:hover {
    color: #fff;
  }

  &__arrow::after {
    overflow: hidden;
    z-index: 1;
    border-radius: 0;
    transition: opacity .3s;
    width: 20px;
    height: 20px;
    top: 9px;
    right: 20px;
    transform: rotate(45deg);
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    position: absolute;
    content: '';
  }
}

.btn-outline {
  padding: 12px 20px;
  color: #e52b2b;
  border: 1px solid;
  font-weight: 300;
  font-size: 15px;
  line-height: 1;
  border-radius: 6px;
}

.btn-whats-app,
.btn-vk {
  width: 33px;
  height: 33px;
  line-height: 1;
  color: #fff;
  align-items: center;
  justify-content: center;
  display: inline-flex;

  &__icon,
  &__icon {
    fill: #fff;
  }
}

.btn-whats-app {
  color: #fff;
  font-size: 6px;
  border-radius: 6px;
  background-color: #00a600;
  flex-direction: column;
  font-family: $font-family-head;

  &__icon {
    width: 14px;
    height: 14px;
    margin-bottom: 3px;
  }
}

.btn-vk {
  border-radius: 50%;
  background-color: #2d81bb;

  &__icon {
    width: 19px;
    height: 19px;
  }
}

@media (min-width: 576px) {
  .btn-yellow {
    width: calc(100% - 2px);
    height: 60px;
    font-size: 20px;
    box-shadow: 2px 3px #C47D20, 0 4px 10px #a7a7a7;
  }
}

@media (min-width: 767px) {
  .btn-yellow {
    font-size: 22px;
  }
}

@media (min-width: 1100px) {
  .btn-whats-app,
  .btn-vk {
    transition: opacity .4s;

    &:hover {
      opacity: .8;
      color: #fff;
    }
  }
}

@media (max-width: 575px) {
  .btn-main {
    width: 100%;
    padding: 9px 15px;
    font-size: 16px;
    z-index: 1;
  }
  .btn-yellow {
    width: 100%;
    height: 54px;
    font-size: 15px;
    box-shadow: 7px 4px 18px #a7a7a7;
  }
}

@media (max-width: 359px) {
  .btn-yellow {
    padding-left: .8rem;
    padding-right: .8rem;
    font-size: 18px;
  }
}
