.btn-yellow {
  width: 100%;
  height: 60px;
  font-size: 20px;
  white-space: nowrap;
  box-shadow: 0 3px #C47D20, 0 5px 12px #a7a7a7;
  background: rgb(255, 231, 45);
  background: -moz-linear-gradient(top, rgba(255, 231, 45, 1) 0%, rgba(249, 157, 28, 1) 50%);
  background: -webkit-linear-gradient(top, rgba(255, 231, 45, 1) 0%, rgba(249, 157, 28, 1) 50%);
  background: linear-gradient(to bottom, rgba(255, 231, 45, 1) 0%, rgba(249, 157, 28, 1) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe72d', endColorstr='#f99d1c', GradientType=0);

  &:hover {
    box-shadow: 0 1px #dbb536;
  }

  @media (min-width: 767px) {
    font-size: 22px;
  }

  @media (max-width: 359px) {
    padding-left: .8rem;
    padding-right: .8rem;
    font-size: 18px;
  }
}

.btn-red {
  height: 50px;
  text-align: center;
  position: relative;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
  z-index: 1;
  font-family: $font-family-head;
  box-shadow: 0 2px 0 #e62b2b, 0 2px 6px 0 #a7a7a7;
  transition: all .3s;

  &::after,
  &::before {
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    border-radius: inherit;
    position: absolute;
    content: '';
    transition: opacity .3s;
  }

  &::before {
    background: rgb(255, 45, 45);
    background: -moz-linear-gradient(top, rgba(255, 45, 45, 1) 0%, rgba(185, 37, 40, 1) 63%, rgba(215, 42, 43, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 45, 45, 1) 0%, rgba(185, 37, 40, 1) 63%, rgba(215, 42, 43, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 45, 45, 1) 0%, rgba(185, 37, 40, 1) 63%, rgba(215, 42, 43, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2d2d', endColorstr='#d72a2b', GradientType=0);
  }

  &::after {
    opacity: 0;
    background: rgb(215, 42, 43);
    background: -moz-linear-gradient(top, rgba(215, 42, 43, 1) 0%, rgba(185, 37, 40, 1) 37%, rgba(255, 45, 45, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(215, 42, 43, 1) 0%, rgba(185, 37, 40, 1) 37%, rgba(255, 45, 45, 1) 100%);
    background: linear-gradient(to bottom, rgba(215, 42, 43, 1) 0%, rgba(185, 37, 40, 1) 37%, rgba(255, 45, 45, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d72a2b', endColorstr='#ff2d2d', GradientType=0);
  }

  &:hover {
    color: #fff;

    &::after {
      opacity: 1;
    }
  }

  &__arrow::after {
    overflow: hidden;
    z-index: 1;
    border-radius: 0;
    transition: opacity .3s;
    width: 20px;
    height: 20px;
    top: 9px;
    right: 20px;
    transform: rotate(45deg);
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    position: absolute;
    content: '';
  }

  &:active {
    box-shadow: 0 0 0 transparent;
    transform: translateY(2px);
  }
}

.btn-outline {
  padding: 12px 20px;
  color: #e52b2b;
  border: 1px solid;
  font-weight: 300;
  font-size: 15px;
  line-height: 1;
  border-radius: 6px;
}

.btn-whats-app,
.btn-vk {
  width: 33px;
  height: 33px;
  line-height: 1;
  color: #fff;
  align-items: center;
  justify-content: center;
  display: inline-flex;

  &__icon,
  &__icon {
    fill: #fff;
  }
}

.btn-whats-app {
  color: #fff;
  font-size: 6px;
  border-radius: 6px;
  background-color: #00a600;
  flex-direction: column;
  font-family: $font-family-head;

  &__icon {
    width: 14px;
    height: 14px;
    margin-bottom: 3px;
  }
}

.btn-vk {
  border-radius: 50%;
  background-color: #2d81bb;

  &__icon {
    width: 19px;
    height: 19px;
  }
}

@media (min-width: 576px) {
  .btn-main {
    min-width: 429px;
    padding: 14px 35px;
  }
}

@media (min-width: 1100px) {
  .btn-whats-app,
  .btn-vk {
    transition: opacity .4s;

    &:hover {
      opacity: .8;
      color: #fff;
    }
  }
}

@media (max-width: 575px) {
  .btn-main {
    width: 100%;
    padding: 9px 15px;
    font-size: 16px;
    z-index: 1;
  }
}
