@font-face {
  font-family: 'PFDinDisplayPro';
  src: url('../fonts/PFDinDisplayPro-Regular.woff') format('woff'),
  url('../fonts/PFDinDisplayPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinDisplayPro';
  src: url('../fonts/PFDinDisplayPro-Medium.woff') format('woff'),
  url('../fonts/PFDinDisplayPro-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinDisplayPro';
  src: url('../fonts/PFDinDisplayPro-Bold.woff') format('woff'),
  url('../fonts/PFDinDisplayPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'PFDinDisplayPro';
  src: url('../fonts/PFDinDisplayPro-Black.woff') format('woff'),
  url('../fonts/PFDinDisplayPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinDisplayPro';
  src: url('../fonts/PFDinDisplayPro-BlackItalic.woff') format('woff'),
  url('../fonts/PFDinDisplayPro-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'PFDinDisplayPro';
  src: url('../fonts/PFDinTextCondPro-Medium.woff') format('woff'),
  url('../fonts/PFDinTextCondPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinDisplayPro';
  src: url('../fonts/PFDinTextCondPro-Light.woff') format('woff'),
  url('../fonts/PFDinTextCondPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans.woff') format('woff'),
  url('../fonts/OpenSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Light.woff') format('woff'),
  url('../fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}


body {
  background-color: #fff;
  position: relative;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.4;
}

h1 {
  font-size: 36px;
}

h3 {
  font-size: 22px;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.btn-yellow {
  width: 100%;
  height: 72px;
  border-radius: 10px;
  font-size: 27px;
  font-weight: 700;
  box-shadow: 0 3px #dbb536;
  background: #efd233;
  background: -moz-linear-gradient(top, #efd233 0%, #f5de35 50%, #efd233 100%);
  background: -webkit-linear-gradient(top, #efd233 0%, #f5de35 50%, #efd233 100%);
  background: linear-gradient(to bottom, #efd233 0%, #f5de35 50%, #efd233 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efd233', endColorstr='#efd233', GradientType=0);

  &:hover {
    box-shadow: 0 1px #dbb536;
  }
}

.hide-placeholder {
  @include hidePlaceholder {
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  &:focus {
    @include hidePlaceholder {
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }
}

.check-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.check-list__item {
  padding-left: 28px;
  position: relative;
  font-weight: 300;
  line-height: 1.2;
  font-size: 21px;

  &::before {
    width: 18px;
    height: 14px;
    top: 6px;
    left: 2px;
    background: url(../img/icons/check.svg) no-repeat center;
    background-size: contain;
    position: absolute;
    content: '';
  }

  &:not(:last-child) {
    margin-bottom: 14px;
  }
}
