body {
  background-color: #fff;
  position: relative;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.4;
  font-family: $font-family-head;
}

h1 {
  font-size: 36px;
}

h2 {
  font-weight: 500;
  text-transform: uppercase;

  @media (min-width: 576px) {
    font-size: 52px;
    text-align: center;
    line-height: 1.2;
  };
}

h3 {
  font-size: 22px;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}


.hide-placeholder {
  @include hidePlaceholder {
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  &:focus {
    @include hidePlaceholder {
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }
}

.check-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  position: relative;
  z-index: 2;
}

.check-list__item {
  padding-left: 31px;
  position: relative;
  line-height: 1.2;

  &::before {
    width: 18px;
    height: 14px;
    top: 2px;
    left: 2px;
    background: url(../img/icons/check.svg) no-repeat center;
    background-size: contain;
    position: absolute;
    content: '';
  }

  &:not(:last-child) {
    margin-bottom: 19px;
  }
}

.title-block {
  &::after {
    width: 15%;
    height: 10px;
    margin: 15px auto 0;
    display: block;
    content: '';
  }

  &-blue::after {
    background-color: $blueColor;
  }

  &-yellow::after {
    background-color: $yellowColor;
  }

  &-bold {
    font-weight: 900;
  }
}
