
<footer class="footer">
    <div class="footer-inner container">
        <div class="footer-column">
            <div class="footer-column__title">НАШ МАГАЗИН</div>

            <a href="#" class="footer-link">Характеристики</a>
            <a href="#" class="footer-link">Обзор</a>
            <a href="#" class="footer-link">Отзывы</a>
            <a href="#" class="footer-link">AirPods 2</a>
            <a href="#" class="footer-link">AirPods Pro</a>
            <a href="#" class="footer-link">Политика конфиденциальности</a>

            <button type="submit" class="btn btn-primary main-btn">Обратный звонок</button>
        </div>
        <div class="footer-column">
            <div class="footer-column__title">КОНТАКТЫ</div>

            <a href="#" class="footer-link sprite-phone-3">+7 (495) 123-54-65</a>
            <a href="#" class="footer-link sprite-mail">е-mail: shop@yandex.ru</a>
            <a href="#" class="footer-link sprite-clock-sm">с 10.00 до 19.00 <br> ежедевно, без выходных</a>
            <a href="#" class="footer-link sprite-pin">Москва, ул. Волжская, <br> 16, строение 6, оф. 15</a>
        </div>
        <div class="footer-column">
            <div class="footer-column__title">ДОСТАВКА</div>

            <a href="#" class="footer-link">Курьером лично в руки</a>
            <a href="#" class="footer-link">Ускоренная  доставка</a>
            <a href="#" class="footer-link">Оплата при получении</a>
            <a href="#" class="footer-link">Доставка 24 часа в сутки</a>
        </div>
        <div class="footer-column">
            <div class="footer-column__title">ПРИСОЕДИНЯЙТЕСЬ</div>

            <a href="#" class="footer-link sprite-vk">V Kontakte</a>
            <a href="#" class="footer-link sprite-insta">Instagram</a>
            <a href="#" class="footer-link sprite-what">WatsApp</a>
            <a href="#" class="footer-link sprite-tg">Telegram</a>
        </div>

        <div class="footer-copy">
            <div class="footer-copy__contacts">
                ООО «Интернет-магазин». ОГРН 1167746512152. ИНН7730204391. Юридический адрес: 117105, Москва, Варшавское ш., 9 стр. 1б
            </div>

            2020. Все права защищены. Пользовательское соглашение и правила.
        </div>
    </div>
</footer>
