<div class="questions container-fluid sprite-question">
    <h2 class="questions-title">
        ОСТАЛИСЬ <span class="text-bold">ВОПРОСЫ?</span>
    </h2>
    <div class="questions-go">задайте их менеджеру</div>
</div>


<div class="pre-footer">
    <div class="pre-footer__inner container">
        <form action="/" class="call-form">
            <div class="call-form__title">Закажите</div>
            <div class="call-form__text">
                Airpods 2 сегодня
            </div>
            <div class="call-form__text-3">по выгодной цене</div>
            <div class="choose-card__price-old">Обычная цена: <del>14 990 руб.</del></div>
            <div class="call-form__price">
                Цена со скидкой:
                <span class="call-form__price-cost">3 990 р.</span>
            </div>

            <div class="form-group call-form__group">
                <label class="sr-only" for="call-form__name2">Ваше имя</label>
                <svg class="call-form__icon">
                    <use xlink:href="img/icons.svg#user"></use>
                </svg>
                <input type="text" class="call-form__field form-control hide-placeholder" id="call-form__name2" placeholder="Ваше имя">
            </div>

            <div class="form-group call-form__group">
                <label class="sr-only" for="call-form__tel2">Контактный телефон*</label>
                <svg class="call-form__icon">
                    <use xlink:href="img/icons.svg#phone-2"></use>
                </svg>
                <input type="tel" class="call-form__field form-control hide-placeholder" id="call-form__tel2" placeholder="Контактный телефон*" inputmode="text">
            </div>

            <div class="call-form__terms sprite-lock">
                Ваши данные под защитой
            </div>

            <button type="submit" class="btn btn-primary main-btn">Заказать с подарком</button>
        </form>
    </div>
</div>


<footer class="footer">
    <div class="footer-inner container">
        <div class="footer-column">
            <div class="footer-column__title">НАШ МАГАЗИН</div>

            <a href="#" class="footer-link">Характеристики</a>
            <a href="#" class="footer-link">Обзор</a>
            <a href="#" class="footer-link">Отзывы</a>
            <a href="#" class="footer-link">AirPods 2</a>
            <a href="#" class="footer-link">AirPods Pro</a>
            <a href="#" class="footer-link">Политика конфиденциальности</a>

            <button type="submit" class="btn btn-primary main-btn">Обратный звонок</button>
        </div>
        <div class="footer-column">
            <div class="footer-column__title">КОНТАКТЫ</div>

            <a href="#" class="footer-link sprite-phone-3">+7 (495) 123-54-65</a>
            <a href="#" class="footer-link sprite-mail">е-mail: shop@yandex.ru</a>
            <a href="#" class="footer-link sprite-clock-sm">с 10.00 до 19.00 <br> ежедевно, без выходных</a>
            <a href="#" class="footer-link sprite-pin">Москва, ул. Волжская, <br> 16, строение 6, оф. 15</a>
        </div>
        <div class="footer-column">
            <div class="footer-column__title">ДОСТАВКА</div>

            <a href="#" class="footer-link">Курьером лично в руки</a>
            <a href="#" class="footer-link">Ускоренная  доставка</a>
            <a href="#" class="footer-link">Оплата при получении</a>
            <a href="#" class="footer-link">Доставка 24 часа в сутки</a>
        </div>
        <div class="footer-column">
            <div class="footer-column__title">ПРИСОЕДИНЯЙТЕСЬ</div>

            <a href="#" class="footer-link sprite-vk">V Kontakte</a>
            <a href="#" class="footer-link sprite-insta">Instagram</a>
            <a href="#" class="footer-link sprite-what">WatsApp</a>
            <a href="#" class="footer-link sprite-tg">Telegram</a>
        </div>

        <div class="footer-copy">
            <div class="footer-copy__contacts">
                ООО «Интернет-магазин». ОГРН 1167746512152. ИНН7730204391. Юридический адрес: 117105, Москва, Варшавское ш., 9 стр. 1б
            </div>

            2020. Все права защищены. Пользовательское соглашение и правила.
        </div>
    </div>
</footer>
