@import "general/settings";
@import "general/common";
@import "general/btn";
@import "components/scrollToTop";
@import "components/header";
@import "components/menu";

.main-section {
  height: 700px;
  padding-top: 55px;
  background: url(../img/bg-header.jpg) no-repeat top center #e2f2fb;
}
