@import "general/settings";
@import "general/mixin";
@import "lib/bootstrap-4.4.1/mixins/clearfix";
@import "general/common";
@import "general/btn";
@import "components/header";
@import "components/advantages";
@import "components/appeal";
@import "components/gift";
@import "components/small-advantage";
@import "components/reviews";
@import "components/choose";
@import "components/autonomy";
@import "components/synchronization";
@import "components/attention";
@import "components/questions";
@import "components/pre-footer";
@import "components/menu-mob";
@import "components/modal-view";
@import "general/sprite";
@import "components/call-form";

@media (min-width: 767px) {
  .fancybox-navigation .fancybox-button {
    height: 150px;
    width: 105px;
  }
}

@media (max-width: 575px) {
  .hide-xs {
    display: none;
  }
}

@media (min-width: 576px) {
  .show-xs {
    display: none;
  }
}
